## First let's read in our CSVs

In [1]:
import pandas as pd

imdb = pd.read_csv('assets/imdb.csv')
trump = pd.read_csv('assets/trump.csv')

### Take a look

In [2]:
# print "IMDB"
# print imdb.head()
# print
# print
# print "TRUMP"
# print trump.head()

## Now comes the tricky stuff

You're probably used to using CREATE and INSERT to create a table then put it into the database. This time we are going to be using an SQL ORM (Object Relational Mapper) to set our columns. Take a look at the class below. We are defining our table as 'classimdb' and setting all of the variables to the type of values we are going to be putting into the database.

In [3]:
from sqlalchemy import Column, Integer, String, Float, Date, Boolean
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class Movies(Base):
    __tablename__ = 'classimdb'

    _id = Column(Integer, primary_key=True)
    title = Column(String)
    poster = Column(String)
    plot = Column(String)
    genre = Column(String)
    year = Column(Integer)
    imdbRating = Column(Float)
    created = Column(Date)
    imdbID = Column(String)
    awards = Column(String)
    actors = Column(String)
    country = Column(String)
    director = Column(String)
    gross = Column(String)
    imdbVotes = Column(Integer)
    language = Column(String)
    rated = Column(String)
    released = Column(String)
    response = Column(Boolean)
    runtime = Column(Integer)
    _type = Column(String)
    writer = Column(String)

    def __init__(self, title, poster, plot, genre, year, imdbRating, created, imdbID, awards, 
                 actors, country, director, gross, imdbVotes, language, rated, released, response, 
                 runtime, _type, writer):
        self.title = title
        self.poster = poster
        self.plot = plot 
        self.genre = genre 
        self.year = year 
        self.imdbRating = imdbRating 
        self.created = created 
        self.imdbID = imdbID 
        self.awards = awards 
        self.actors = actors 
        self.country = country 
        self.director = director 
        self.gross = gross 
        self.imdbVotes = imdbVotes
        self.language = language
        self.rated = rated
        self.released = released
        self.response = response
        self.runtime = runtime 
        self._type = _type 
        self.writer = writer

### Let's make sure we made everything correctly

In [4]:
Movies.__table__

Table('classimdb', MetaData(bind=None), Column('_id', Integer(), table=<classimdb>, primary_key=True, nullable=False), Column('title', String(), table=<classimdb>), Column('poster', String(), table=<classimdb>), Column('plot', String(), table=<classimdb>), Column('genre', String(), table=<classimdb>), Column('year', Integer(), table=<classimdb>), Column('imdbRating', Float(), table=<classimdb>), Column('created', Date(), table=<classimdb>), Column('imdbID', String(), table=<classimdb>), Column('awards', String(), table=<classimdb>), Column('actors', String(), table=<classimdb>), Column('country', String(), table=<classimdb>), Column('director', String(), table=<classimdb>), Column('gross', String(), table=<classimdb>), Column('imdbVotes', Integer(), table=<classimdb>), Column('language', String(), table=<classimdb>), Column('rated', String(), table=<classimdb>), Column('released', String(), table=<classimdb>), Column('response', Boolean(), table=<classimdb>), Column('runtime', Integer(), table=<classimdb>), Column('_type', String(), table=<classimdb>), Column('writer', String(), table=<classimdb>), schema=None)

### Everything looks good. Now let's create the table

In [5]:
from sqlalchemy import create_engine

engine = create_engine('postgres://pkyawpef:Z3YYaxmYtiMfEcMNYbzuHtrN3BLVdZ3E@elmer.db.elephantsql.com:5432/pkyawpef')

Base.metadata.create_all(engine)

### No errors. Things are looking good! 

Let's get ready to insert our values into our new table. We need to create our session first. Notice we are binding it to our engine which is hooked up to our remote postgresql server

In [6]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

### Now let's put everything into our new table. This cell just prepares the insert for us

In [7]:
movie_arr = []
for idx,x in imdb.iterrows():
    movie = Movies(x['title'], x['poster'], x['plot'], x['genre'], x['year'], x['imdbRating'], x['created'],
                   x['imdbID'], x['awards'], x['actors'], x['country'], x['director'], x['gross'], 
                   x['imdbVotes'], x['language'], x['rated'], x['released'], x['response'], x['runtime'], 
                   x['type'], x['writer'])
    movie_arr += [movie]
    
session.add_all(movie_arr)

### To save the changes to our database, we need to commit() our changes. This is a lot like the syntax we've seen  with Spark and collect().

In [8]:
session.commit()

### Now onto the good stuff. You can put your select statement into a dataframe like this

In [9]:
print pd.read_sql("SELECT * FROM classimdb;", engine)[:1]

   _id     title                                             poster  \
0    1  La Haine  https://images-na.ssl-images-amazon.com/images...

                                                plot         genre  year  \
0  24 hours in the lives of three young men in th...  Crime, Drama  1995

   imdbRating     created     imdbID                    awards  \
0         8.1  2016-11-13  tt0113247  8 wins & 13 nominations.

         ...                   director     gross imdbVotes language  \
0        ...          Mathieu Kassovitz  309811.0    104913   French

       rated    released response runtime  _type             writer
0  NOT RATED  1996-02-23     True      98  movie  Mathieu Kassovitz

[1 rows x 22 columns]

### Difficulty 1

### Print out all the drama movies

In [10]:
print pd.read_sql("SELECT * FROM classimdb;", engine)

     _id                               title  \
0      1                            La Haine
1      2                   Good Will Hunting
2      3                            Whiplash
3      4                       Seven Samurai
4      5             Raiders of the Lost Ark
5      6        The Bridge on the River Kwai
6      7                 Like Stars on Earth
7      8                        The Revenant
8      9                    Infernal Affairs
9     10                   The Wages of Fear
10    11                             Yojimbo
11    12                        Finding Nemo
12    13                       All About Eve
13    14                      Monsters, Inc.
14    15                                Rush
15    16                 Million Dollar Baby
16    17                    The Great Escape
17    18                         The Pianist
18    19                           Chinatown
19    20                      Twelve Monkeys
20    21                            Downfall
21    22                     Song of the Sea
22    23                         The Message
23    24                           Spotlight
24    25                Howl's Moving Castle
25    26                         City Lights
26    27                   L.A. Confidential
27    28                            3 Idiots
28    29                  North by Northwest
29    30                    A Beautiful Mind
..   ...                                 ...
470  471                             Stalker
471  472                   Full Metal Jacket
472  473                       The Apartment
473  474                        Forrest Gump
474  475                   Life Is Beautiful
475  476                                Jaws
476  477                     American Beauty
477  478                           Prisoners
478  479         Witness for the Prosecution
479  480                          Annie Hall
480  481                             Rebecca
481  482                           Inception
482  483              For a Few Dollars More
483  484                   Dog Day Afternoon
484  485  Star Wars: Episode IV - A New Hope
485  486          Terminator 2: Judgment Day
486  487                                  8½
487  488                        Hotel Rwanda
488  489                  Gone with the Wind
489  490              No Country for Old Men
490  491                   On the Waterfront
491  492                 Hachi: A Dog's Tale
492  493                 Saving Private Ryan
493  494                            Scarface
494  495     One Flew Over the Cuckoo's Nest
495  496                             Memento
496  497                              Snatch
497  498                                 Ran
498  499                         Taxi Driver
499  500                          The Bandit

                                                poster  \
0    https://images-na.ssl-images-amazon.com/images...
1    http://ia.media-imdb.com/images/M/MV5BMTk0NjY0...
2    https://images-na.ssl-images-amazon.com/images...
3    https://images-na.ssl-images-amazon.com/images...
4    https://images-na.ssl-images-amazon.com/images...
5    https://images-na.ssl-images-amazon.com/images...
6    https://images-na.ssl-images-amazon.com/images...
7    https://images-na.ssl-images-amazon.com/images...
8    https://images-na.ssl-images-amazon.com/images...
9    https://images-na.ssl-images-amazon.com/images...
10   https://images-na.ssl-images-amazon.com/images...
11   https://images-na.ssl-images-amazon.com/images...
12   https://images-na.ssl-images-amazon.com/images...
13   https://images-na.ssl-images-amazon.com/images...
14   https://images-na.ssl-images-amazon.com/images...
15   http://ia.media-imdb.com/images/M/MV5BMTkxNzA1...
16   https://images-na.ssl-images-amazon.com/images...
17   http://ia.media-imdb.com/images/M/MV5BMTc4OTky...
18   https://images-na.ssl-images-amazon.com/images...
19   https://images-na.ssl-images-amazon.com/images...
20   https://images-na.ssl-images-amazon.com/images...
21   https://images-na.ssl-images-amazon.com/images...
22   https://images-na.ssl-images-amazon.com/images...
23   https://images-na.ssl-images-amazon.com/images...
24   https://images-na.ssl-images-amazon.com/images...
25   https://images-na.ssl-images-amazon.com/images...
26   https://images-na.ssl-images-amazon.com/images...
27   https://images-na.ssl-images-amazon.com/images...
28   https://images-na.ssl-images-amazon.com/images...
29   https://images-na.ssl-images-amazon.com/images...
..                                                 ...
470  https://images-na.ssl-images-amazon.com/images...
471  https://images-na.ssl-images-amazon.com/images...
472  https://images-na.ssl-images-amazon.com/images...
473  https://images-na.ssl-images-amazon.com/images...
474  http://ia.media-imdb.com/images/M/MV5BMTQwMTM2...
475  https://images-na.ssl-images-amazon.com/images...
476  https://images-na.ssl-images-amazon.com/images...
477  https://images-na.ssl-images-amazon.com/images...
478  https://images-na.ssl-images-amazon.com/images...
479  https://images-na.ssl-images-amazon.com/images...
480  https://images-na.ssl-images-amazon.com/images...
481  https://images-na.ssl-images-amazon.com/images...
482  https://images-na.ssl-images-amazon.com/images...
483  https://images-na.ssl-images-amazon.com/images...
484  https://images-na.ssl-images-amazon.com/images...
485  https://images-na.ssl-images-amazon.com/images...
486  https://images-na.ssl-images-amazon.com/images...
487  https://images-na.ssl-images-amazon.com/images...
488  https://images-na.ssl-images-amazon.com/images...
489  https://images-na.ssl-images-amazon.com/images...
490  https://images-na.ssl-images-amazon.com/images...
491  https://images-na.ssl-images-amazon.com/images...
492  https://images-na.ssl-images-amazon.com/images...
493  https://images-na.ssl-images-amazon.com/images...
494  https://images-na.ssl-images-amazon.com/images...
495  https://images-na.ssl-images-amazon.com/images...
496  https://images-na.ssl-images-amazon.com/images...
497  https://images-na.ssl-images-amazon.com/images...
498  https://images-na.ssl-images-amazon.com/images...
499  http://ia.media-imdb.com/images/M/MV5BNTQ2NTE5...

                                                  plot  \
0    24 hours in the lives of three young men in th...
1    Will Hunting, a janitor at M.I.T., has a gift ...
2    A promising young drummer enrolls at a cut-thr...
3    A poor village under attack by bandits recruit...
4    Archaeologist and adventurer Indiana Jones is ...
5    After settling his differences with a Japanese...
6    An eight-year-old boy is thought to be lazy an...
7    A frontiersman on a fur trading expedition in ...
8    A story between a mole in the police departmen...
9    In a decrepit South American village, men are ...
10   A crafty ronin comes to a town divided by two ...
11   After his son is captured in the Great Barrier...
12   An ingenue insinuates herself into the company...
13   In order to power the city, monsters have to s...
14   The merciless 1970s rivalry between Formula On...
15   A determined woman works with a hardened boxin...
16   Allied P.O.W.s plan for several hundred of the...
17   A Polish Jewish musician struggles to survive ...
18   A private detective hired to expose an adulter...
19   In a future world devastated by disease, a con...
20   Traudl Junge, the final secretary for Adolf Hi...
21   Ben, a young Irish boy, and his little sister ...
22   In the 7th century, Mohammed is visited by Ang...
23   The true story of how the Boston Globe uncover...
24   When an unconfident young woman is cursed with...
25   With the aid of a wealthy erratic tippler, a d...
26   As corruption grows in 1950s LA, three policem...
27   Two friends are searching for their long lost ...
28   A hapless New York advertising executive is mi...
29   After John Nash, a brilliant but asocial mathe...
..                                                 ...
470  A guide leads two men through an area known as...
471  A pragmatic U.S. Marine observes the dehumaniz...
472  A man tries to rise in his company by letting ...
473  Forrest Gump, while not intelligent, has accid...
474  When an open-minded Jewish librarian and his s...
475  When a gigantic great white shark begins to me...
476  A sexually frustrated suburban father has a mi...
477  When Keller Dover's daughter and her friend go...
478  A veteran British barrister must defend his cl...
479  Neurotic New York comedian Alvy Singer falls i...
480  A self-conscious bride is tormented by the mem...
481  A thief, who steals corporate secrets through ...
482  Two bounty hunters with the same intentions te...
483  A man robs a bank to pay for his lover's opera...
484  Luke Skywalker joins forces with a Jedi Knight...
485  A cyborg, identical to the one who failed to k...
486  A harried movie director retreats into his mem...
487  Paul Rusesabagina was a hotel manager who hous...
488  A manipulative Southern belle carries on a tur...
489  Violence and mayhem ensue after a hunter stumb...
490  An ex-prize fighter turned longshoreman strugg...
491  A college professor's bond with the abandoned ...
492  Following the Normandy Landings, a group of U....
493  In Miami in 1980, a determined Cuban immigrant...
494  A criminal pleads insanity after getting into ...
495  A man juggles searching for his wife's murdere...
496  Unscrupulous boxing promoters, violent bookmak...
497  In Medieval Japan, an elderly warlord retires,...
498  A mentally unstable Vietnam War veteran works ...
499  The epic adventures of the legendary Baran the...

                            genre  year  imdbRating     created     imdbID  \
0                    Crime, Drama  1995         8.1  2016-11-13  tt0113247
1                           Drama  1997         8.3  2016-11-13  tt0119217
2                    Drama, Music  2014         8.5  2016-11-13  tt2582802
3        Action, Adventure, Drama  1954         8.7  2016-11-13  tt0047478
4               Action, Adventure  1981         8.5  2016-11-13  tt0082971
5           Adventure, Drama, War  1957         8.2  2016-11-13  tt0050212
6            Drama, Family, Music  2007         8.5  2016-11-13  tt0986264
7      Adventure, Drama, Thriller  2015         8.1  2016-11-13  tt1663202
8           Crime, Drama, Mystery  2002         8.1  2016-11-13  tt0338564
9      Adventure, Drama, Thriller  1953         8.2  2016-11-13  tt0046268
10        Action, Drama, Thriller  1961         8.3  2016-11-13  tt0055630
11   Animation, Adventure, Comedy  2003         8.2  2016-11-13  tt0266543
12                          Drama  1950         8.3  2016-11-13  tt0042192
13   Animation, Adventure, Comedy  2001         8.1  2016-11-13  tt0198781
14       Action, Biography, Drama  2013         8.1  2016-11-13  tt1979320
15                   Drama, Sport  2004         8.1  2016-11-13  tt0405159
16      Adventure, Drama, History  1963         8.3  2016-11-13  tt0057115
17          Biography, Drama, War  2002         8.5  2016-11-13  tt0253474
18       Drama, Mystery, Thriller  1974         8.2  2016-11-13  tt0071315
19      Mystery, Sci-Fi, Thriller  1995         8.0  2016-11-13  tt0114746
20      Biography, Drama, History  2004         8.3  2016-11-13  tt0363163
21   Animation, Adventure, Family  2014         8.2  2016-11-13  tt1865505
22    Adventure, Biography, Drama  1976         8.4  2016-11-13  tt0074896
23        Biography, Crime, Drama  2015         8.1  2016-11-13  tt1895587
24   Animation, Adventure, Family  2004         8.2  2016-11-13  tt0347149
25         Comedy, Drama, Romance  1931         8.6  2016-11-13  tt0021749
26          Crime, Drama, Mystery  1997         8.3  2016-11-13  tt0119488
27                  Comedy, Drama  2009         8.4  2016-11-13  tt1187043
28       Action, Adventure, Crime  1959         8.4  2016-11-13  tt0053125
29               Biography, Drama  2001         8.2  2016-11-13  tt0268978
..                            ...   ...         ...         ...        ...
470                 Drama, Sci-Fi  1979         8.1  2016-11-13  tt0079944
471                    Drama, War  1987         8.3  2016-11-13  tt0093058
472        Comedy, Drama, Romance  1960         8.3  2016-11-13  tt0053604
473                 Comedy, Drama  1994         8.8  2016-11-13  tt0109830
474            Comedy, Drama, War  1997         8.6  2016-11-13  tt0118799
475    Adventure, Drama, Thriller  1975         8.0  2016-11-13  tt0073195
476                Drama, Romance  1999         8.4  2016-11-13  tt0169547
477         Crime, Drama, Mystery  2013         8.1  2016-11-13  tt1392214
478         Crime, Drama, Mystery  1957         8.4  2016-11-13  tt0051201
479               Comedy, Romance  1977         8.1  2016-11-13  tt0075686
480     Drama, Film-Noir, Mystery  1940         8.2  2016-11-13  tt0032976
481     Action, Adventure, Sci-Fi  2010         8.8  2016-11-13  tt1375666
482                       Western  1965         8.3  2016-11-13  tt0059578
483                  Crime, Drama  1975         8.0  2016-11-13  tt0072890
484    Action, Adventure, Fantasy  1977         8.7  2016-11-13  tt0076759
485      Action, Sci-Fi, Thriller  1991         8.5  2016-11-13  tt0103064
486                Drama, Fantasy  1963         8.1  2016-11-13  tt0056801
487           Drama, History, War  2004         8.1  2016-11-13  tt0395169
488       Drama, History, Romance  1939         8.2  2016-11-13  tt0031381
489        Crime, Drama, Thriller  2007         8.1  2016-11-13  tt0477348
490        Crime, Drama, Thriller  1954         8.2  2016-11-13  tt0047296
491                 Drama, Family  2009         8.1  2016-11-13  tt1028532
492            Action, Drama, War  1998         8.6  2016-11-13  tt0120815
493                  Crime, Drama  1983         8.3  2016-11-13  tt0086250
494                         Drama  1975         8.7  2016-11-13  tt0073486
495             Mystery, Thriller  2000         8.5  2016-11-13  tt0209144
496                 Comedy, Crime  2000         8.3  2016-11-13  tt0208092
497                 Action, Drama  1985         8.3  2016-11-13  tt0089881
498                  Crime, Drama  1976         8.3  2016-11-13  tt0075314
499        Crime, Drama, Thriller  1996         8.6  2016-11-13  tt0116231

                                                awards  \
0                             8 wins & 13 nominations.
1      Won 2 Oscars. Another 20 wins & 53 nominations.
2     Won 3 Oscars. Another 87 wins & 131 nominations.
3    Nominated for 2 Oscars. Another 5 wins & 6 nom...
4      Won 4 Oscars. Another 30 wins & 23 nominations.
5       Won 7 Oscars. Another 23 wins & 7 nominations.
6                            14 wins & 15 nominations.
7     Won 3 Oscars. Another 75 wins & 160 nominations.
8                            23 wins & 21 nominations.
9              Won 1 BAFTA Film Award. Another 5 wins.
10   Nominated for 1 Oscar. Another 4 wins & 1 nomi...
11      Won 1 Oscar. Another 46 wins & 58 nominations.
12     Won 6 Oscars. Another 16 wins & 17 nominations.
13      Won 1 Oscar. Another 13 wins & 38 nominations.
14   Nominated for 2 Golden Globes. Another 6 wins ...
15     Won 4 Oscars. Another 60 wins & 81 nominations.
16   Nominated for 1 Oscar. Another 2 wins & 7 nomi...
17     Won 3 Oscars. Another 52 wins & 70 nominations.
18      Won 1 Oscar. Another 20 wins & 23 nominations.
19   Nominated for 2 Oscars. Another 9 wins & 18 no...
20   Nominated for 1 Oscar. Another 21 wins & 25 no...
21   Nominated for 1 Oscar. Another 11 wins & 20 no...
22                                                 NaN
23   Won 2 Oscars. Another 113 wins & 124 nominations.
24   Nominated for 1 Oscar. Another 16 wins & 18 no...
25                                             3 wins.
26     Won 2 Oscars. Another 84 wins & 77 nominations.
27                           25 wins & 13 nominations.
28   Nominated for 3 Oscars. Another 8 wins & 4 nom...
29     Won 4 Oscars. Another 33 wins & 63 nominations.
..                                                 ...
470                             2 wins & 1 nomination.
471  Nominated for 1 Oscar. Another 7 wins & 9 nomi...
472     Won 5 Oscars. Another 19 wins & 8 nominations.
473    Won 6 Oscars. Another 39 wins & 65 nominations.
474    Won 3 Oscars. Another 62 wins & 44 nominations.
475    Won 3 Oscars. Another 10 wins & 16 nominations.
476   Won 5 Oscars. Another 103 wins & 96 nominations.
477  Nominated for 1 Oscar. Another 10 wins & 34 no...
478  Nominated for 6 Oscars. Another 3 wins & 9 nom...
479     Won 4 Oscars. Another 26 wins & 8 nominations.
480     Won 2 Oscars. Another 2 wins & 10 nominations.
481  Won 4 Oscars. Another 143 wins & 198 nominations.
482                                                NaN
483     Won 1 Oscar. Another 13 wins & 19 nominations.
484    Won 6 Oscars. Another 48 wins & 28 nominations.
485    Won 4 Oscars. Another 21 wins & 22 nominations.
486     Won 2 Oscars. Another 16 wins & 8 nominations.
487  Nominated for 3 Oscars. Another 16 wins & 42 n...
488      Won 8 Oscars. Another 9 wins & 8 nominations.
489  Won 4 Oscars. Another 155 wins & 131 nominations.
490     Won 8 Oscars. Another 21 wins & 9 nominations.
491                                                NaN
492    Won 5 Oscars. Another 74 wins & 74 nominations.
493  Nominated for 3 Golden Globes. Another 4 nomin...
494    Won 5 Oscars. Another 30 wins & 13 nominations.
495  Nominated for 2 Oscars. Another 54 wins & 55 n...
496                            4 wins & 6 nominations.
497     Won 1 Oscar. Another 26 wins & 22 nominations.
498  Nominated for 4 Oscars. Another 21 wins & 15 n...
499                                            2 wins.

                           ...                          \
0                          ...
1                          ...
2                          ...
3                          ...
4                          ...
5                          ...
6                          ...
7                          ...
8                          ...
9                          ...
10                         ...
11                         ...
12                         ...
13                         ...
14                         ...
15                         ...
16                         ...
17                         ...
18                         ...
19                         ...
20                         ...
21                         ...
22                         ...
23                         ...
24                         ...
25                         ...
26                         ...
27                         ...
28                         ...
29                         ...
..                         ...
470                        ...
471                        ...
472                        ...
473                        ...
474                        ...
475                        ...
476                        ...
477                        ...
478                        ...
479                        ...
480                        ...
481                        ...
482                        ...
483                        ...
484                        ...
485                        ...
486                        ...
487                        ...
488                        ...
489                        ...
490                        ...
491                        ...
492                        ...
493                        ...
494                        ...
495                        ...
496                        ...
497                        ...
498                        ...
499                        ...

                                      director        gross imdbVotes  \
0                            Mathieu Kassovitz     309811.0    104913
1                                 Gus Van Sant  138339411.0    609983
2                              Damien Chazelle   13092000.0    413720
3                               Akira Kurosawa     269061.0    232249

### Print out all the movies with a director with 'C' or 'S' in their last names. Ignore any movies with multiple directors.

In [19]:
pd.read_sql("SELECT title, director FROM CLASSIMDB WHERE (director LIKE '%% C%%' or director LIKE '%% S%%') and director NOT LIKE '%%,%%';",engine)

                                 title               director
0                    Good Will Hunting           Gus Van Sant
1                             Whiplash        Damien Chazelle
2              Raiders of the Lost Ark       Steven Spielberg
3                    The Wages of Fear  Henri-Georges Clouzot
4                     The Great Escape           John Sturges
5                          City Lights        Charles Chaplin
6                It Happened One Night            Frank Capra
7                       The Terminator          James Cameron
8                          Raging Bull        Martin Scorsese
9                     Schindler's List       Steven Spielberg
10                     Andaz Apna Apna      Rajkumar Santoshi
11                        The Departed        Martin Scorsese
12                      Shutter Island        Martin Scorsese
13                  The Usual Suspects           Bryan Singer
14                       The Gold Rush        Charles Chaplin
15           In the Name of the Father           Jim Sheridan
16                          Diabolique  Henri-Georges Clouzot
17                           Gladiator           Ridley Scott
18             The Wolf of Wall Street        Martin Scorsese
19                               Alien           Ridley Scott
20                             The Kid        Charles Chaplin
21                       Jurassic Park       Steven Spielberg
22                  The Great Dictator        Charles Chaplin
23                 Catch Me If You Can       Steven Spielberg
24        Mr. Smith Goes to Washington            Frank Capra
25                         The Martian           Ridley Scott
26                             Platoon           Oliver Stone
27                     The Sixth Sense     M. Night Shyamalan
28                              Aliens          James Cameron
29            The Secret in Their Eyes   Juan José Campanella
..                                 ...                    ...
68                               Alien           Ridley Scott
69                             The Kid        Charles Chaplin
70                       Jurassic Park       Steven Spielberg
71                  The Great Dictator        Charles Chaplin
72                 Catch Me If You Can       Steven Spielberg
73        Mr. Smith Goes to Washington            Frank Capra
74                         The Martian           Ridley Scott
75                             Platoon           Oliver Stone
76                          Goodfellas        Martin Scorsese
77                     The Sixth Sense     M. Night Shyamalan
78                              Aliens          James Cameron
79            The Secret in Their Eyes   Juan José Campanella
80                        Blade Runner           Ridley Scott
81                       The Godfather   Francis Ford Coppola
82                          Wild Tales         Damián Szifrón
83               It's a Wonderful Life            Frank Capra
84                          Casablanca         Michael Curtiz
85                      Apocalypse Now   Francis Ford Coppola
86  Indiana Jones and the Last Crusade       Steven Spielberg
87                           The Thing         John Carpenter
88                     The Deer Hunter         Michael Cimino
89                              WALL·E         Andrew Stanton
90                        Modern Times        Charles Chaplin
91                              Casino        Martin Scorsese
92                     Bicycle Thieves       Vittorio De Sica
93              The Godfather: Part II   Francis Ford Coppola
94                                Jaws       Steven Spielberg
95          Terminator 2: Judgment Day          James Cameron
96                 Saving Private Ryan       Steven Spielberg
97                         Taxi Driver        Martin Scorsese

[98 rows x 2 columns]

### Difficulty 3

### Print out each director's longest movie.

In [ ]:
pd.read_sql("SELECT title, director, MAX(runtime) FROM CLASSIMDB ")

### Print out the gross of each director's highest rated movie. Order by created desc.

### Difficulty 5

### Print out the movie title, votes, and director of each director's highest voted on movie. Order by highest votes desc.

### Print out the movie title, rating, and director of each director's highest rated movie if that director has directed more than one movie. Order by rating desc.

### Difficulty 7

### Print out the released date, title, and the season (winter, spring, summer, fall) in which each movie was released. Let's assume for simplicity sake that seasons end at the end of each month instead of on the 21st.

### Print out the released date, title, and the relation to today's date (disregard year). If the movie came out before today's month, print 'before' in the relationship column. If the movie came out after todays month, print out 'after' in the relationship column. If the movie was released in the same month, but not the same day, print out 'close'. If the movie came out on today's day and month print 'match'.

# Disclaimer:
#### <span style="color:red">Before you continue to Difficulty 9, you need to read trump.csv into your database. Repeat the steps you used to create the imdb table. Do you work below.</span>

### Difficulty => 9

### Print out all the times Trump has sent a tweet with a movie title in the text. The movie title must have a string length greater than 1.

### Print out a movie if it is included in the following groups:
* Has the longest runtime
* Is created by the director who has the most imdbvotes
* Has been translated into more than 4 languages
* Has won 2 Oscars

### Make sure each movie is printed out at most one time!

## Good job on completing this assignment! You should now be ready for any SQL-based problem thrown at you in the future!

![alt text](http://i.giphy.com/AL0XsYU0pkFTq.gif "Congrats!")

#### If you haven't finished the assignment, scroll back up. This message isn't for you.