# Project 4: Web Scraping Indeed.com & Predicting Salaries

In Project 4, we practice two major skills: collecting data via  web scraping and building a binary predictor with Logistic Regression.

We will collect salary information on data science jobs in a variety of markets. Using location, title, and job summary, we'll predict the salary of the job. For job posting sites, this is extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), extrapolating expected salary can help guide negotiations.

Normally, we can use regression for this task; however, we will convert this problem into classification and use Logistic Regression.

- Q: Why would we want this to be a classification problem?
- A: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Section one focuses on scraping Indeed.com; then we use listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

Scrape job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries. First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract.

#### Setup a request (using `requests`) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)

The URL here has many query parameters

- `q` for the job search
- This is followed by "+20,000" to return results with salaries (or expected salaries >$20,000)
- `l` for a location 
- `start` for what result number to start on

In [4]:
URL = 'http://www.indeed.com/'

In [5]:
import requests
import bs4
from bs4 import BeautifulSoup

In [6]:
# read site in soup
r = requests.get(URL)
soup = BeautifulSoup(r.content, "lxml")

# Append to the full set of results
results = soup.findAll('div', { "class" : "result" })

Let's look at one result more closely. A single `result` looks like

```
<div class=" row result" data-jk="2480d203f7e97210" data-tn-component="organicJob" id="p_2480d203f7e97210" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_2480d203f7e97210">
<a class="turnstileLink" data-tn-element="jobTitle" onmousedown="return rclk(this,jobmap[0],1);" rel="nofollow" target="_blank" title="AVP/Quantitative Analyst">AVP/Quantitative Analyst</a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
<a href="/cmp/Alliancebernstein?from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=2480d203f7e97210&amp;jcid=b374f2a780e04789" target="_blank">
    AllianceBernstein</a></span>
</span>
<tr>
<td class="snip">
<nobr>$117,500 - $127,500 a year</nobr>
<div>
<span class="summary" itemprop="description">
C onduct quantitative and statistical research as well as portfolio management for various investment portfolios. Collaborate with Quantitative Analysts and</span>
</div>
</div>
</td>
</tr>
</table>
</div>
```

While this has some of the more verbose elements removed, we can see that there is some structure to the above:
- The salary is available in a `nobr` element inside of a `td` element with `class='snip`.
- The title of a job is in a link with class set to `jobtitle` and a `data-tn-element="jobTitle`.  
- The location is set in a `span` with `class='location'`. 
- The company is set in a `span` with `class='company'`.

### Write 4 functions to extract each item: location, company, job, and salary.

example: 
```python
def extract_location_from_result(result):
    return result.find ...
```

- Make sure these functions are robust and can handle cases where the data/field may not be available
- Test the functions on the results above

In [7]:
# get text
def extract_text(el):
    if el:
        return el.text.strip()
    else:
        return ''
        
# company
def get_company_from_result(result):
    return extract_text(result.find('span', {'class' : 'company'}))

# location
def get_location_from_result(result):
    return extract_text(result.find('span', {'class' : 'location'}))

# summary
def get_summary_from_result(result):
    return extract_text(result.find('span', {'class' : 'summary'}))
# title
def get_title_from_result(result):
    return extract_text(result.find('a', {'data-tn-element' : 'jobTitle'}))
# get salary if exists
def get_salary_from_result(result):
    salary_table = result.find('td', {'class' : 'snip'})
    if salary_table:
        snip = salary_table.find('nobr')
        if snip:
            return snip.text.strip()   
    return None

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.

- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results: the `l=New+York` and the `start=10`. The first controls the location of the results (so we can try different city). The second controls where in the results to start and gives 10 results (so we can keep incrementing this by 10 to move further within the list).

#### Complete the following code to collect results from multiple cities and start points. 
- Enter your city below to add it to the search
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

In [8]:
# specify city
YOUR_CITY = ['Atlanta, GA', 'Los+Angeles, CA', 'Seattle, WA', 
             'New+York, NY', 'San+Diego, CA', 'San+Francisco, CA', 'Denver CO', 'Boston, MA', 'Austin, TX']

In [10]:
# create template URL and max number of results (pages) to pull
url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"

# for loop to pull data with bs4
for city in set(YOUR_CITY):
    for start in range(0, 500, 20 ):
        r = requests.get(url_template.format(city, start))
        # Grab the results from the request (as above)
        soup = BeautifulSoup(r.content, "lxml")
        # Append to the full set of results
        results += soup.findAll('div', { "class" : "result" })

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

In [11]:
# combine data into dictionaries
rows = []
for result in results:
    if result:
        row = {'company':get_company_from_result(result),
              'location':get_location_from_result(result),
              'summary':get_summary_from_result(result),
              'title':get_title_from_result(result),
               'salary':get_salary_from_result(result)
              }
        rows.append(row)

# create dataframe
import pandas as pd
df = pd.DataFrame(rows)
df.head()
df.shape

(5214, 5)

In [12]:
df.tail()
df['salary'].count()

176

In [13]:
df.drop_duplicates(inplace = True)
df.shape
df['salary'].count()

86

Lastly, we need to clean up salary data. 

1. Only a small number of the scraped results have salary information - only these will be used for modeling.
1. Some of the salaries are not yearly but hourly or weekly, these will not be useful to us for now
1. Some of the entries may be duplicated
1. The salaries are given as text and usually with ranges.

#### Find the entries with annual salary entries, by filtering the entries without salaries or salaries that are not yearly (filter those that refer to hour or week). Also, remove duplicate entries

In [14]:
# Filter to only the rows that have salary entries

# Remove duplicates

# Filter out salary entries referring to week, hour or month
data = df[~(df.salary.astype('str').str.contains('hour'))] # example
data = data[~(data.salary.astype('str').str.contains('week'))]
data = data[~(data.salary.astype('str').str.contains('month'))]


data.shape
data['salary'].count()
print data.head()
data['salary'].isnull()

                     company                                 location salary  \
0         Riverside Research                          Buckley AFB, CO   None
1                    Pearson                              Boulder, CO   None
2                    Pearson                           Centennial, CO   None
3  BBC Research & Consulting  Denver, CO 80209 (Washington Park area)   None
4                     Ibotta             Denver, CO 80202 (Lodo area)   None

                                             summary  \
0  Experience with data science algorithms, commo...
1  **Software Engineer \- Machine Learning** **De...
2  Data structures, data representation, data cle...
3  Expertise in data and statistical analysis. Da...
4  4+ years of professional experience as a Data ...

                                              title
0                                    Data Scientist
1              Software Engineer - Machine Learning
2  Senior Data/Research Scientist, Machine Learning
3                                     Data Analysis
4                             Senior Data Scientist

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
48       True
49       True
50       True
51       True
52      False
        ...
4786     True
4787     True
4788     True
4789     True
4790     True
4791     True
4792     True
4793     True
4794     True
4795     True
4816    False
4817     True
4818     True
4819     True
4820     True
4821     True
4822     True
4823    False
4824     True
4825     True
5116     True
5117     True
5118     True
5119     True
5120     True
5121     True
5122     True
5123     True
5124     True
5125     True
Name: salary, dtype: bool

In [15]:
new_data = data.dropna()

In [16]:
print new_data
new_data.shape()

                                               company  \
52                               Gunther Douglas, Inc.
57                         Community College of Aurora
85                              University of Colorado
93                              University of Colorado
99                                       Denver Health
207                                      Denver Health
628                                   All-In Analytics
633                                State of Washington
635                              Lighthouse Recruiting
723                              Smith Arnold Partners
750                tronc (formerly Tribune Publishing)
751                                                 LT
810   Los Angeles County Department of Human Resources
842                 Los Angeles County Human Resources
852   Los Angeles County Department of Human Resources
854   Los Angeles County Department of Human Resources
860                                     Selby Jennings
870     Tessie Cleveland Community Service Corporation
883                 Los Angeles County Human Resources
887                                 Jobspring Partners
896                                 Altair Engineering
974                 Los Angeles County Human Resources
978                              Lighthouse Recruiting
980                                     Selby Jennings
1084  Los Angeles County Department of Human Resources
1126                                      Wade & Wendy
1154                                  CONSUMER AFFAIRS
1167                                           Averity
1189                                           Averity
1199                                    Selby Jennings
...                                                ...
1258                                     NewAgeSys,Inc
1265                     DEPT OF HEALTH/MENTAL HYGIENE
1277                    HOUSING PRESERVATION & DVLPMNT
1294                                           Averity
1325                                           Averity
1335                                       Winston Fox
1363                                           Averity
1366                                    Selby Jennings
1414                                 POLICE DEPARTMENT
1437                                           Averity
1441                                     NewAgeSys,Inc
1475                                           Harnham
1528                               Analytic Recruiting
1535                                  Emory University
1562                                  Emory University
1564                              Synergy Search Group
1655                               Analytic Recruiting
1864                                        Dashbot.io
1954                                  All-In Analytics
1962                             Workbridge Associates
2037                          Elevate Recruiting Group
2079                             Workbridge Associates
2291                             IGE Therapeutics, Inc
2647                                     Mountain Ltd.
3999                                           Averity
4005                                           Animalz
4056                            Geode Executive Search
4061                         Nathan S. Kline Institute
4816         San Francisco Department of Public Health
4823                             Workbridge Associates

                                         location                      salary  \
52                                   Superior, CO   $95,000 - $130,000 a year
57                                     Aurora, CO              $40,000 a year
85                                     Aurora, CO    $50,000 - $63,000 a year
93                                    Boulder, CO  $100,000 - $115,000 a year
99    Denver, CO 80204 (Central West Denver area)              $88,091 a year
207   Denver, CO 80204 (Central West Denver area)              $66,654 a year
628                                   Seattle, WA  $100,000 - $150,000 a year
633                                  Bellevue, WA    $48,060 - $63,036 a year
635                                   Seattle, WA   $90,000 - $100,000 a year
723                                   Seattle, WA    $50,000 - $65,000 a year
750                               Los Angeles, CA    $60,000 - $70,000 a year
751                               Los Angeles, CA             $180,000 a year
810                               Los Angeles, CA   $76,804 - $100,726 a year
842                               Los Angeles, CA   $84,336 - $110,616 a year
852                               Los Angeles, CA    $73,286 - $86,231 a year
854                               Los Angeles, CA   $84,336 - $110,616 a year
860                               Los Angeles, CA             $120,000 a year
870                               Los Angeles, CA              $56,000 a year
883                               Los Angeles, CA    $36,339 - $48,794 a year
887                               Los Angeles, CA   $80,000 - $110,000 a year
896                                   Cypress, CA              $88,000 a year
974                               Los Angeles, CA    $73,107 - $95,884 a year
978                                  Pasadena, CA   $80,000 - $110,000 a year
980                               Los Angeles, CA             $120,000 a year
1084                              Los Angeles, CA    $73,107 - $95,884 a year
1126                                 New York, NY   $80,000 - $120,000 a year
1154                                Manhattan, NY    $59,708 - $72,246 a year
1167                                 New York, NY  $100,000 - $120,000 a year
1189                                 New York, NY  $125,000 - $175,000 a year
1199            New York, NY 10167 (Midtown area)  $135,000 - $200,000 a year
...                                           ...                         ...
1258                               Parsippany, NJ              $45,000 a year
1265                                Manhattan, NY    $68,239 - $85,644 a year
1277                                 New York, NY              $70,286 a year
1294                                 New York, NY  $130,000 - $170,000 a year
1325                                 New York, NY  $120,000 - $150,000 a year
1335                                 New York, NY             $200,000 a year
1363                                 New York, NY    $70,000 - $90,000 a year
1366            New York, NY 10167 (Midtown area)   $90,000 - $180,000 a year
1414                                 New York, NY   $78,630 - $103,332 a year
1437                                 New York, NY  $150,000 - $200,000 a year
1441                               Kenilworth, NJ              $50,000 a year
1475                                 New York, NY             $110,000 a year
1528                                  Atlanta, GA  $100,000 - $125,000 a year
1535                                  Atlanta, GA              $85,500 a year
1562                                  Atlanta, GA              $69,900 a year
1564                                  Atlanta, GA              $80,000 a year
1655                                  Atlanta, GA   $70,000 - $145,000 a year
1864                            San Francisco, CA  $160,000 - $180,000 a year
1954                            San Francisco, CA  $120,000 - $150,000 a year
1962                            San Francisco, CA  $140,000 - $160,000 a year
2037                             Redwood City, CA             $170,000 a year
2079                            San Francisco, CA  $140,000 - $160,000 a year
2291                                San Diego, CA              $53,000 a year
2647                                   Denver, CO              $42,500 a year
3999                                 New York, NY  $180,000 - $220,000 a year
4005    New York, NY 10002 (Lower East Side area)              $40,000 a year
4056                                 New York, NY             $200,000 a year
4061                               Orangeburg, NY              $25,000 a year
4816                            San Francisco, CA   $98,202 - $125,346 a year
4823                                 Berkeley, CA  $140,000 - $170,000 a year

                                                summary  \
52    Gunther Douglas’ client is seeking a Data Scie...
57    Works with large complex data sets, including ...
85    Research information and data problems. Certif...
93    Of visiting scientists; In use of excel, data ...
99    Budget development, processing and monitoring ...
207   Typically, one (1) or more years of healthcare...
628   Business Intelligence Scientist. SQL, Digital ...
633   Performing field surveys or studies, 2) respon...
635   Join our Medical Laboratory Scientists Groups:...
723   Growing international custom research supplier...
750   Partner with data scientists in the Technology...
751   Our data team consists of two data analysts an...
810   Develops and documents the backup procedure to...
842   Evaluates the performance of subordinate Super...
852   Devises data processing procedures that make u...
854   Evaluates the performance of subordinate Super...
860   A Top Tier Investment Bank is looking for an e...
870   Technical Skills in Data Collection/Analysis a...
883   Compiles pertinent data to verify amounts, tot...
887   Data Scientist experience a plus! Big data and...
896   Altair ProductDesign is a global, multi-discip...
974   Research experience working with quantifying s...
978   Join our Medical Laboratory Scientists Groups:...
980   A Top Tier Investment Bank is looking for an e...
1084  Research experience working with quantifying s...
1126  Our Data Scientist will integrate data from we...
1154  The Division of Data Analysis and Strategic Pl...
1167  This is an opportunity for an experienced Seni...
1189  Our data science needs are growing quickly, an...
1199  Senior Data Scientist. Data Intelligence Softw...
...                                                 ...
1258  Working knowledge of both computer and/or data...
1265  -Evaluate data, prepare reports and maintain r...
1277  Reliability and validity, sampling, primary an...
1294  We are hiring a Lead Data Scientist for our gr...
1325  Strong background in big data technology. As a...
1335  Develop powerful systems that provide easy acc...
1363  As a Tableau Developer in our Data Science tea...
1366  A top global commodities company is seeking an...
1414  Maintain records of raw data; Coordinator/Lead...
1437  Are you Quantitative Research Analyst looking ...
1441  Analysis and interpretation data. Candidate mu...
1475  You will join the data engineering team and wo...
1528  Python, data mining, data science; The data Sc...
1535  Staff Scientists will have leadership responsi...
1562  The Medical Image Analysis Scientist, works wi...
1564  Duties will include data conversion from multi...
1655  Data Scientist, Supply Chain sought by Fortune...
1864  Data migration, transformation, and scripting....
1954  Machine Learning Senior Data Scientist. Mentor...
1962  Established retail and eCommerce company in do...
2037  Through the Our Clients pivotal world-view in ...
2079  Data Mining Experience. The Data Engineers wor...
2291  The candidates working in a Team culture, are ...
2647  Enter data from legal sources into database. I...
3999  Looking for a strong Quantitative Analyst, Res...
4005  You're a critical thinker who can find compell...
4056  Data Scientist - Text Analytics - SQL, R, SAS*...
4061  Additional experience in statistical analysis ...
4816  Under administrative direction of the Director...
4823  The Machine Learning Operations group within t...

                                                  title
52                                       Data Scientist
57                                     Research Analyst
85                                    Bioinformationist
93                         Managing Director for STROBE
99                            Business Manager - RADARS
207           RN-Statistical Research Specilist Nursing
628                     Business Intelligence Scientist
633              TMDL Lead (Environmental Specialist 4)
635                          Variant Scientist (Remote)
723                                    Research Analyst
750                 Social Media Marketing Data Analyst
751                               Senior Data Scientist
810                  MEDICAL TECHNOLOGIST, DATA SYSTEMS
842       SUPERVISING CLINICAL LABORATORY SCIENTIST III
852           RESEARCH ANALYST III, BEHAVIORAL SCIENCES
854       SUPERVISING CLINICAL LABORATORY SCIENTIST III
860           Quantitative Analyst - Multiple Vacancies
870                             Senior Research Analyst
883                            SENIOR STATISTICAL CLERK
887                                     Product Manager
896                           Aerospace Program Manager
974         CHIEF RESEARCH ANALYST, BEHAVIORAL SCIENCES
978                 LC/MS Clinical Laboratory Scientist
980                  Quantitative Analyst - Credit Risk
1084        CHIEF RESEARCH ANALYST, BEHAVIORAL SCIENCES
1126               Wade & Wendy_Data Scientist/Engineer
1154        Modeler/Data Scientist, Policy and Strategy
1167  Senior Data Scientist for Innovative, Top-Rank...
1189                              Senior Data Scientist
1199                              Senior Data Scientist
...                                                 ...
1258                                          Scientist
1265  City Research Scientist, Bureau of the Public ...
1277                               Technical Researcher
1294                   Lead Data Scientist (New Jersey)
1325  Data Scientist, Quant Developer for $10B Asset...
1335               Senior Software Development Engineer
1363          Tableau Developer for Global Organization
1366                      FTR Quantitative Risk Analyst
1414  Coordinator / Lead Scientist, Municipal Storm ...
1437  Quantitative Research Analyst for Multi-Billio...
1441                                            Chemist
1475                                  Big Data Engineer
1528                              Senior Data Scientist
1535                    Staff Scientist (Goldsmith Lab)
1562                       Scientist, Med Imag Analysis
1564        Audit Snr (Banking) - Data Analysis 60K-80K
1655                      Data Scientist - Supply Chain
1864                        Data Engineer and Scientist
1954                Sr. Machine Learning Data Scientist
1962               Senior Data Scientist (Optimization)
2037  Senior Data Scientist - Security Experience is...
2079                             Data Engineer (Python)
2291                                          Scientist
2647                             Legal Research Analyst
3999  Senior Systematic Quantitative Analyst - Multi...
4005                                   Research Analyst
4056      Data Scientist - Text Analytics - SQL, R, SAS
4061  Post-Doctoral Scientist (Analytical Psychophar...
4816                   Manager I - Chief Microbiologist
4823  Lead Data Analyst (Machine Learning Operations...

[64 rows x 5 columns]

TypeError: 'tuple' object is not callable

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [17]:
import re
import numpy as np
def extract_salary_average(salary_string):
    regex = r'\$([0-9]+,[0-9]+)'
    matches = re.findall(regex, salary_string)
    return np.mean([float(salary.replace(',', '')) for salary in matches ])

In [18]:
# use '.map' to transform salary to new feature
new_data['salary'] = new_data['salary'].map(extract_salary_average)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [19]:
print new_data

                                               company  \
52                               Gunther Douglas, Inc.
57                         Community College of Aurora
85                              University of Colorado
93                              University of Colorado
99                                       Denver Health
207                                      Denver Health
628                                   All-In Analytics
633                                State of Washington
635                              Lighthouse Recruiting
723                              Smith Arnold Partners
750                tronc (formerly Tribune Publishing)
751                                                 LT
810   Los Angeles County Department of Human Resources
842                 Los Angeles County Human Resources
852   Los Angeles County Department of Human Resources
854   Los Angeles County Department of Human Resources
860                                     Selby Jennings
870     Tessie Cleveland Community Service Corporation
883                 Los Angeles County Human Resources
887                                 Jobspring Partners
896                                 Altair Engineering
974                 Los Angeles County Human Resources
978                              Lighthouse Recruiting
980                                     Selby Jennings
1084  Los Angeles County Department of Human Resources
1126                                      Wade & Wendy
1154                                  CONSUMER AFFAIRS
1167                                           Averity
1189                                           Averity
1199                                    Selby Jennings
...                                                ...
1258                                     NewAgeSys,Inc
1265                     DEPT OF HEALTH/MENTAL HYGIENE
1277                    HOUSING PRESERVATION & DVLPMNT
1294                                           Averity
1325                                           Averity
1335                                       Winston Fox
1363                                           Averity
1366                                    Selby Jennings
1414                                 POLICE DEPARTMENT
1437                                           Averity
1441                                     NewAgeSys,Inc
1475                                           Harnham
1528                               Analytic Recruiting
1535                                  Emory University
1562                                  Emory University
1564                              Synergy Search Group
1655                               Analytic Recruiting
1864                                        Dashbot.io
1954                                  All-In Analytics
1962                             Workbridge Associates
2037                          Elevate Recruiting Group
2079                             Workbridge Associates
2291                             IGE Therapeutics, Inc
2647                                     Mountain Ltd.
3999                                           Averity
4005                                           Animalz
4056                            Geode Executive Search
4061                         Nathan S. Kline Institute
4816         San Francisco Department of Public Health
4823                             Workbridge Associates

                                         location    salary  \
52                                   Superior, CO  112500.0
57                                     Aurora, CO   40000.0
85                                     Aurora, CO   56500.0
93                                    Boulder, CO  107500.0
99    Denver, CO 80204 (Central West Denver area)   88091.0
207   Denver, CO 80204 (Central West Denver area)   66654.0
628                                   Seattle, WA  125000.0
633                                  Bellevue, WA   55548.0
635                                   Seattle, WA   95000.0
723                                   Seattle, WA   57500.0
750                               Los Angeles, CA   65000.0
751                               Los Angeles, CA  180000.0
810                               Los Angeles, CA   88765.0
842                               Los Angeles, CA   97476.0
852                               Los Angeles, CA   79758.5
854                               Los Angeles, CA   97476.0
860                               Los Angeles, CA  120000.0
870                               Los Angeles, CA   56000.0
883                               Los Angeles, CA   42566.5
887                               Los Angeles, CA   95000.0
896                                   Cypress, CA   88000.0
974                               Los Angeles, CA   84495.5
978                                  Pasadena, CA   95000.0
980                               Los Angeles, CA  120000.0
1084                              Los Angeles, CA   84495.5
1126                                 New York, NY  100000.0
1154                                Manhattan, NY   65977.0
1167                                 New York, NY  110000.0
1189                                 New York, NY  150000.0
1199            New York, NY 10167 (Midtown area)  167500.0
...                                           ...       ...
1258                               Parsippany, NJ   45000.0
1265                                Manhattan, NY   76941.5
1277                                 New York, NY   70286.0
1294                                 New York, NY  150000.0
1325                                 New York, NY  135000.0
1335                                 New York, NY  200000.0
1363                                 New York, NY   80000.0
1366            New York, NY 10167 (Midtown area)  135000.0
1414                                 New York, NY   90981.0
1437                                 New York, NY  175000.0
1441                               Kenilworth, NJ   50000.0
1475                                 New York, NY  110000.0
1528                                  Atlanta, GA  112500.0
1535                                  Atlanta, GA   85500.0
1562                                  Atlanta, GA   69900.0
1564                                  Atlanta, GA   80000.0
1655                                  Atlanta, GA  107500.0
1864                            San Francisco, CA  170000.0
1954                            San Francisco, CA  135000.0
1962                            San Francisco, CA  150000.0
2037                             Redwood City, CA  170000.0
2079                            San Francisco, CA  150000.0
2291                                San Diego, CA   53000.0
2647                                   Denver, CO   42500.0
3999                                 New York, NY  200000.0
4005    New York, NY 10002 (Lower East Side area)   40000.0
4056                                 New York, NY  200000.0
4061                               Orangeburg, NY   25000.0
4816                            San Francisco, CA  111774.0
4823                                 Berkeley, CA  155000.0

                                                summary  \
52    Gunther Douglas’ client is seeking a Data Scie...
57    Works with large complex data sets, including ...
85    Research information and data problems. Certif...
93    Of visiting scientists; In use of excel, data ...
99    Budget development, processing and monitoring ...
207   Typically, one (1) or more years of healthcare...
628   Business Intelligence Scientist. SQL, Digital ...
633   Performing field surveys or studies, 2) respon...
635   Join our Medical Laboratory Scientists Groups:...
723   Growing international custom research supplier...
750   Partner with data scientists in the Technology...
751   Our data team consists of two data analysts an...
810   Develops and documents the backup procedure to...
842   Evaluates the performance of subordinate Super...
852   Devises data processing procedures that make u...
854   Evaluates the performance of subordinate Super...
860   A Top Tier Investment Bank is looking for an e...
870   Technical Skills in Data Collection/Analysis a...
883   Compiles pertinent data to verify amounts, tot...
887   Data Scientist experience a plus! Big data and...
896   Altair ProductDesign is a global, multi-discip...
974   Research experience working with quantifying s...
978   Join our Medical Laboratory Scientists Groups:...
980   A Top Tier Investment Bank is looking for an e...
1084  Research experience working with quantifying s...
1126  Our Data Scientist will integrate data from we...
1154  The Division of Data Analysis and Strategic Pl...
1167  This is an opportunity for an experienced Seni...
1189  Our data science needs are growing quickly, an...
1199  Senior Data Scientist. Data Intelligence Softw...
...                                                 ...
1258  Working knowledge of both computer and/or data...
1265  -Evaluate data, prepare reports and maintain r...
1277  Reliability and validity, sampling, primary an...
1294  We are hiring a Lead Data Scientist for our gr...
1325  Strong background in big data technology. As a...
1335  Develop powerful systems that provide easy acc...
1363  As a Tableau Developer in our Data Science tea...
1366  A top global commodities company is seeking an...
1414  Maintain records of raw data; Coordinator/Lead...
1437  Are you Quantitative Research Analyst looking ...
1441  Analysis and interpretation data. Candidate mu...
1475  You will join the data engineering team and wo...
1528  Python, data mining, data science; The data Sc...
1535  Staff Scientists will have leadership responsi...
1562  The Medical Image Analysis Scientist, works wi...
1564  Duties will include data conversion from multi...
1655  Data Scientist, Supply Chain sought by Fortune...
1864  Data migration, transformation, and scripting....
1954  Machine Learning Senior Data Scientist. Mentor...
1962  Established retail and eCommerce company in do...
2037  Through the Our Clients pivotal world-view in ...
2079  Data Mining Experience. The Data Engineers wor...
2291  The candidates working in a Team culture, are ...
2647  Enter data from legal sources into database. I...
3999  Looking for a strong Quantitative Analyst, Res...
4005  You're a critical thinker who can find compell...
4056  Data Scientist - Text Analytics - SQL, R, SAS*...
4061  Additional experience in statistical analysis ...
4816  Under administrative direction of the Director...
4823  The Machine Learning Operations group within t...

                                                  title
52                                       Data Scientist
57                                     Research Analyst
85                                    Bioinformationist
93                         Managing Director for STROBE
99                            Business Manager - RADARS
207           RN-Statistical Research Specilist Nursing
628                     Business Intelligence Scientist
633              TMDL Lead (Environmental Specialist 4)
635                          Variant Scientist (Remote)
723                                    Research Analyst
750                 Social Media Marketing Data Analyst
751                               Senior Data Scientist
810                  MEDICAL TECHNOLOGIST, DATA SYSTEMS
842       SUPERVISING CLINICAL LABORATORY SCIENTIST III
852           RESEARCH ANALYST III, BEHAVIORAL SCIENCES
854       SUPERVISING CLINICAL LABORATORY SCIENTIST III
860           Quantitative Analyst - Multiple Vacancies
870                             Senior Research Analyst
883                            SENIOR STATISTICAL CLERK
887                                     Product Manager
896                           Aerospace Program Manager
974         CHIEF RESEARCH ANALYST, BEHAVIORAL SCIENCES
978                 LC/MS Clinical Laboratory Scientist
980                  Quantitative Analyst - Credit Risk
1084        CHIEF RESEARCH ANALYST, BEHAVIORAL SCIENCES
1126               Wade & Wendy_Data Scientist/Engineer
1154        Modeler/Data Scientist, Policy and Strategy
1167  Senior Data Scientist for Innovative, Top-Rank...
1189                              Senior Data Scientist
1199                              Senior Data Scientist
...                                                 ...
1258                                          Scientist
1265  City Research Scientist, Bureau of the Public ...
1277                               Technical Researcher
1294                   Lead Data Scientist (New Jersey)
1325  Data Scientist, Quant Developer for $10B Asset...
1335               Senior Software Development Engineer
1363          Tableau Developer for Global Organization
1366                      FTR Quantitative Risk Analyst
1414  Coordinator / Lead Scientist, Municipal Storm ...
1437  Quantitative Research Analyst for Multi-Billio...
1441                                            Chemist
1475                                  Big Data Engineer
1528                              Senior Data Scientist
1535                    Staff Scientist (Goldsmith Lab)
1562                       Scientist, Med Imag Analysis
1564        Audit Snr (Banking) - Data Analysis 60K-80K
1655                      Data Scientist - Supply Chain
1864                        Data Engineer and Scientist
1954                Sr. Machine Learning Data Scientist
1962               Senior Data Scientist (Optimization)
2037  Senior Data Scientist - Security Experience is...
2079                             Data Engineer (Python)
2291                                          Scientist
2647                             Legal Research Analyst
3999  Senior Systematic Quantitative Analyst - Multi...
4005                                   Research Analyst
4056      Data Scientist - Text Analytics - SQL, R, SAS
4061  Post-Doctoral Scientist (Analytical Psychophar...
4816                   Manager I - Chief Microbiologist
4823  Lead Data Analyst (Machine Learning Operations...

[64 rows x 5 columns]

In [20]:
# save scraped results as a CSV for Tableau/external viz
new_data.to_csv('DS_Salaries.csv', encoding = 'utf-8')

In [25]:
my_df = new_data.reset_index(drop=True)

In [30]:
my_df.head()
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 5 columns):
company     64 non-null object
location    64 non-null object
salary      64 non-null float64
summary     64 non-null object
title       64 non-null object
dtypes: float64(1), object(4)
memory usage: 2.6+ KB

## Predicting salaries using Logistic Regression

In [21]:
# load in the the data of scraped salaries

In [22]:
def city_extract(word):
    return word.split(',')[0].split('.')[0].strip()
def state_extract(word):
    return word.split(',')[1].split('.')[1].strip()

In [32]:
my_df['city'] = pd.DataFrame({'city':my_df['location'].apply(state_extract)})
my_df['state'] = pd.DataFrame({'state':my_df['location'].apply(state_extract)})

IndexError: list index out of range

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

In [33]:
# calculate median and create feature with 1 as high salary

median_data = my_df['salary'].median()
median_data
my_df['High_Low'] = my_df['salary'].map(lambda x: 1 if x >= median_data else 0)

### Q: What is the baseline accuracy for this model?

It is 50% if we guess randomly, half the salaries will be below the median and half will be above.

#### Create a Logistic Regression model to predict High/Low salary using statsmodel. Start by ONLY using the location as a feature. Display the coefficients and write a short summary of what they mean.

In [ ]:
# create statsmodel and summary
import statsmodels.formula.api as sm

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' or 'Manager' is in the title 
- Then build a new Logistic Regression model with these features. Do they add any value?

In [ ]:
# create senior, director, and manager dummies
salary_data['is_senior'] = salary_data['title'].str.contains('Senior','Sr').astype(int) # example
salary_data['is_Manager'] = salary_data['title'].str.contains('Manager').astype(int)
salary_data['director'] = salary_data['title'].str.contains('director').astype(int)
salary_data['junior'] = salary_data['title'].str.contains('junior').astype(int)

#### Rebuild this model with scikit-learn.
- You can either create the dummy features manually or use the `dmatrix` function from `patsy`
- Remember to scale the feature variables as well!

In [ ]:
# scale, (patsy optional), and fit
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from patsy import dmatrix

scaler = StandardScaler()
model = LogisticRegression(penalty = 'l2', C=0.1)

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy, AUC, precision and recall of the model. 
- Discuss the differences and explain when you want a high-recall or a high-precision model in this scenario.

In [ ]:
from sklearn.cross_validation import cross_val_score

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']: # example

### Compare L1 and L2 regularization for this logistic regression model. What effect does this have on the coefficients learned?

In [ ]:
model = LogisticRegression(penalty = 'l1', C=1.0)

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']:

In [ ]:
model.fit(X_scaled, y)

df = pd.DataFrame({'features' : X.design_info.column_names, 'coef': model.coef_[0,:]})
df.sort_values('coef', ascending=False, inplace=True)
df

#### Optional: Continue to incorporate other text features from the title or summary that you believe will predict the salary and examine their coefficients. Take ~100 scraped entries with salaries. Convert them to use with your model and predict the salary. Which entries have the highest predicted salaries?

# Bonus Section: Use Count Vectorizer from scikit-learn to create features from the text summaries. 
- Examine using count or binary features in the model
- Re-evaluate the logistic regression model using these. Does this improve the model performance? 
- What text features are most valuable?

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
X = vectorizer.fit_transform()

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']:
    scores = cross_val_score(model, X_scaled, y, cv=3, scoring=metric)
    print(metric, scores.mean(), scores.std())

In [ ]:
model.fit(X_scaled, y)

df = pd.DataFrame({'features' : vectorizer.get_feature_names(), 'coef': model.coef_[0,:]})
df.sort_values('coef', ascending=False, inplace=True)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
# retest L1 and L2 regularization
from sklearn.linear_model import LogisticRegressionCV

model = LogisticRegressionCV()

Score: | /24
------|-------
Identify: Problem Statement and Hypothesis | 
Acquire: Import Data using BeautifulSoup| 
Parse: Clean and Organize Data| 
Model: Perform Logistic Regression| 
Evaluate: Logistic Regression Results	|
Present: Blog Report with Findings and Recommendations		| 
Interactive Tableau visualizations | 
Regularization |
Bonus: Countvectorizer  |