In [17]:
import pandas as pd 
import numpy as np

data = np.array([['','Col1','Col2'],
                ['Row1',1,2],
                ['Row2',3,4]])
df = pd.DataFrame(data = data[1:,1:],
                   index = data[1:,0], 
                   columns = data[0,1:])

In [18]:
df

     Col1 Col2
Row1    1    2
Row2    3    4

In [19]:
df['d'] = df.index

In [20]:
df

     Col1 Col2     d
Row1    1    2  Row1
Row2    3    4  Row2

In [21]:
df['E'] = 1

In [22]:
df

     Col1 Col2     d  E
Row1    1    2  Row1  1
Row2    3    4  Row2  1

In [27]:
 import numpy as np
x = 1,2

In [28]:
np.transpose(x)

array([1, 2])

In [31]:
np.array([[1,2]]).transpose()

array([[1],
       [2]])

In [32]:
np.array()

TypeError: Required argument 'object' (pos 1) not found

https://mushgrant.github.io/