## Today we are going to test your knowledge in SQL. Please refer to  http://www.w3schools.com/sql/ for any questions you might have over the material. Each question must be solved in only ONE SQL statement. No pandas or numpy operations may be used!
### These questions get progressively more difficult. Look through the website above and stackoverflow for hints on solving the more challenging problems. 
### Unfortunately, Brad will only be able to give help on questions with difficulty 7 and higher. He apologizes for the inconvenience.

#### First create a connection to your postgresql database here

In [86]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgres://mfnyeqfz:zxzi25vFYOiloQ8ORKUo2-Oog5GgfZc2@elmer.db.elephantsql.com:5432/mfnyeqfz')
pd.read_sql("SELECT * FROM information_schema.tables;", engine)[:3]

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,mfnyeqfz,public,pg_stat_statements,VIEW,None,None,None,None,None,NO,NO,None
1,mfnyeqfz,public,trump_tweets,BASE TABLE,None,None,None,None,None,YES,NO,None
2,mfnyeqfz,public,website_imdb,BASE TABLE,None,None,None,None,None,YES,NO,None

#### Let's use the "website_imdb" table for our queries

## Difficulty => 1

### Print out all the drama movies

### Print out all the movies with a director with 'C' or 'S' in their last names. Ignore any movies with multiple directors.

## Difficulty => 3

### Print out the gross of each director's highest grossing movie. Filter nan.

### Print out the gross of each director's highest grossing movie. Order by gross desc. Filter nan.

## Difficulty => 5

### Print out the movie title, gross, and director of each director's highest grossing movie. Order by gross desc. Filter nan.

### Print out the movie title, rating, and director of each director's highest rated movie if that director has directed more than one movie. Order by rating desc. Filter nan.

## Difficuty => 7

### Print out the released date, title, and the season (winter, spring, summer, fall) in which each movie was released. Let's assume for simplicity sake that seasons end at the end of each month instead of on the 21st.

### Print out the released date, title, and the relation to today's date (disregard year). If the movie came out before today's month, print 'before' in the relationship column. If the movie came out after todays month, print out 'after' in the relationship column. If the movie was released in the same month, but not the same day, print out 'close'. If the movie came out on today's day and month print 'match'

## Difficulty => 9

### There is another table in my database called 'trump_tweets'. Print out all the times Trump has sent a tweet with a movie title in the text. The movie title must have a length greater than 1.

### Print out a movie if it is included in the following groups:
* Has the longest runtime
* Is created by the director who has the most imdbvotes
* Has been translated into more than 4 languages
* Has won 2 Oscars

### Make sure each movie is printed out at most one time!

## Good job on completing this assignment! You should now be ready for any SQL-based problem thrown at you in the future!

#### If you haven't finished the assignment, scroll back up. This message isn't for you.