# Multi-table Datasets - ENRON Archive

## 1. Data import

Connect to the file 'assets/datasets/enron.db' using one of these methods:

- sqlite3 python package
- pandas.read_sql
- SQLite Manager Firefox extension

Take a look at the database and query the master table. How many Tables are there in the db?

> Answer:
There are 3 tables:
- MessageBase
- RecipientBase
- EmployeeBase

In [8]:
import sqlite3
conn = sqlite3.connect('../../assets/datasets/enron.db')
c = conn.cursor()

c.execute("select name from sqlite_master where type = 'table';").fetchall()

[(u'MessageBase',), (u'RecipientBase',), (u'EmployeeBase',)]

Query the `sqlite_master` table to retrieve the schema of the `EmployeeBase` table.

1. What fields are there?
1. What's the type of each of them?

In [9]:
fields = c.execute("select sql from sqlite_master where type = 'table' and name= 'EmployeeBase';").fetchall()
print fields

[(u'CREATE TABLE EmployeeBase (\n                  [eid] INTEGER,\n  [name] TEXT,\n  [department] TEXT,\n  [longdepartment] TEXT,\n  [title] TEXT,\n  [gender] TEXT,\n  [seniority] TEXT\n                  \n                  )',)]

In [ ]:
from collections import Counter
counts = Counter(recipients.groupby)

In [23]:
x = [i[0] for i in counts.most_common()[5:]]
y = [i[1] for i in counts.most_common()[5:]]
left_border = [val-0.5 for val in x]
right_border= [val+0.5 for val in x]

NameError: name 'counts' is not defined

1. Print the first 5 rows of EmployeeBase table
1. Print the first 5 rows of MessageBase table
1. Print the first 5 rows of RecipientBase table

**Hint**  use `SELECT` and `LIMIT`.

In [ ]:
results = c.execute()

Import each of the 3 tables to a Pandas Dataframes

In [18]:
import pandas as pd 
employees = pd.read_sql('select * from employeebase', con = conn ) 
recepients = pd.read_sql('select * from recipientbase',con = conn)
messages = pd.read_sql('select * from messagebase', con = conn)

## 2. Data Exploration

Use the 3 dataframes to answer the following questions:

1. How many employees are there in the company?
- How many messages are there in the database?
- Convert the timestamp column in the messages. When was the oldest message sent? And the newest?
- Some messages are sent to more than one recipient. Group the messages by message_id and count the number of recepients. Then look at the distribution of recepient numbers.
    - How many messages have only one recepient?
    - How many messages have >= 5 recepients?
    - What's the highest number of recepients?
    - Who sent the message with the highest number of recepients?
- Plot the distribution of recepient numbers using Bokeh.

In [22]:
employees
pd.read_sql("select count() from employees;", cor = corr)

NameError: name 'corr' is not defined

Rescale to investigate the tail of the curve

## 3. Data Merging

Use the pandas merge function to combine the information in the 3 dataframes to answer the following questions:

1. Are there more Men or Women employees?
- How is gender distributed across departments?
- Who is sending more emails? Men or Women?
- What's the average number of emails sent by each gender?
- Are there more Juniors or Seniors?
- Who is sending more emails? Juniors or Seniors?
- Which department is sending more emails? How does that relate with the number of employees in the department?
- Who are the top 3 senders of emails? (people who sent out the most emails)

In [25]:
employees.gender.value_counts()

Male      113
Female     43
Name: gender, dtype: int64

Answer the following questions regarding received messages:

- Who is receiving more emails? Men or Women?
- Who is receiving more emails? Juniors or Seniors?
- Which department is receiving more emails? How does that relate with the number of employees in the department?
- Who are the top 5 receivers of emails? (people who received the most emails)

In [ ]:
pd.read_sql()

In [26]:
employees.groupby('department')['gender'].value_counts() / employees.groupby('department')['gender'].count()

department  gender
Forestry    Male      0.833333
            Female    0.166667
Legal       Female    0.520000
            Male      0.480000
Other       Male      0.718310
            Female    0.281690
Name: gender, dtype: float64

Which employees sent the most 'mass' emails?

In [ ]:
pd.read_sql('select sum(gender), count(eid) from EmployeeBase ')

In [27]:
df = pd.merge(employees, messages, left_on= 'eid', right_on= 'from_eid')
df.gender.value_counts() / df.gender.count()

Male      0.593529
Female    0.406471
Name: gender, dtype: float64

Keep exploring the dataset, which other questions would you ask?

Work in pairs. Give each other a challenge and try to solve it.

In [ ]:
df.gender.value_counts() / employ