In [1]:
import pandas as pd

In [2]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
       'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [3]:
df = pd.DataFrame(d)

In [4]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [9]:
df['three'] = 1

In [11]:
df.dtypes

one      float64
two      float64
three      int64
dtype: object