# Project 1

## Step 1: Open the `sat_scores.csv` file. Investigate the data, and answer the questions below.

##### 1. What does the data describe?

##### 2. Does the data look complete? Are there any obvious issues with the observations?

##### 3. Create a data dictionary for the dataset.

## Step 2: Load the data.

##### 4. Load the data into a list of lists

In [1]:
import pandas as pd
import numpy as np
sat = pd.read_csv('sat_scores.csv')

##### 5. Print the data

In [2]:
print(sat)

   State  Rate  Verbal  Math
0     CT    82     509   510
1     NJ    81     499   513
2     MA    79     511   515
3     NY    77     495   505
4     NH    72     520   516
5     RI    71     501   499
6     PA    71     500   499
7     VT    69     511   506
8     ME    69     506   500
9     VA    68     510   501
10    DE    67     501   499
11    MD    65     508   510
12    NC    65     493   499
13    GA    63     491   489
14    IN    60     499   501
15    SC    57     486   488
16    DC    56     482   474
17    OR    55     526   526
18    FL    54     498   499
19    WA    53     527   527
20    TX    53     493   499
21    HI    52     485   515
22    AK    51     514   510
23    CA    51     498   517
24    AZ    34     523   525
25    NV    33     509   515
26    CO    31     539   542
27    OH    26     534   439
28    MT    23     539   539
29    WV    18     527   512
30    ID    17     543   542
31    TN    13     562   553
32    NM    13     551   542
33    IL    12     576   589
34    KY    12     550   550
35    WY    11     547   545
36    MI    11     561   572
37    MN     9     580   589
38    KS     9     577   580
39    AL     9     559   554
40    NE     8     562   568
41    OK     8     567   561
42    MO     8     577   577
43    LA     7     564   562
44    WI     6     584   596
45    AR     6     562   550
46    UT     5     575   570
47    IA     5     593   603
48    SD     4     577   582
49    ND     4     592   599
50    MS     4     566   551
51   All    45     506   514

##### 6. Extract a list of the labels from the data, and remove them from the data.

In [22]:
labels = sat.head(0)
print(labels)
labels

Empty DataFrame
Columns: [State, Rate, Verbal, Math]
Index: []

Empty DataFrame
Columns: [State, Rate, Verbal, Math]
Index: []

##### 7. Create a list of State names extracted from the data. (Hint: use the list of labels to index on the State column)

In [24]:
states = sat["State"]
states

0      CT
1      NJ
2      MA
3      NY
4      NH
5      RI
6      PA
7      VT
8      ME
9      VA
10     DE
11     MD
12     NC
13     GA
14     IN
15     SC
16     DC
17     OR
18     FL
19     WA
20     TX
21     HI
22     AK
23     CA
24     AZ
25     NV
26     CO
27     OH
28     MT
29     WV
30     ID
31     TN
32     NM
33     IL
34     KY
35     WY
36     MI
37     MN
38     KS
39     AL
40     NE
41     OK
42     MO
43     LA
44     WI
45     AR
46     UT
47     IA
48     SD
49     ND
50     MS
51    All
Name: State, dtype: object

##### 8. Print the types of each column

In [31]:
col_type = labels.dtypes
col_type

State     object
Rate       int64
Verbal     int64
Math       int64
dtype: object

##### 9. Do any types need to be reassigned? If so, go ahead and do it.

##### 10. Create a dictionary for each column mapping the State to its respective value for that column.

##### 11. Create a dictionary with the values for each of the numeric columns

## Step 3: Describe the data

##### 12. Print the min and max of each column

##### 13. Write a function using only list comprehensions, no loops, to compute Standard Deviation. Print the Standard Deviation of each numeric column.

## Step 4: Visualize the data

##### 14. Using MatPlotLib and PyPlot, plot the distribution of the Rate using histograms.

##### 15. Plot the Math distribution

##### 16. Plot the Verbal distribution

##### 17. What is the typical assumption for data distribution?

##### 18. Does that distribution hold true for our data?

##### 19. Plot some scatterplots. **BONUS**: Use a PyPlot `figure` to present multiple plots at once.

##### 20. Are there any interesting relationships to note?

##### 21. Create box plots for each variable.

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.