In [1]:
import pandas as pd

### Lab

In [19]:
df_a = pd.DataFrame([{"a": 1, "b": 4}, {"a": 2, "b": 5}, {"a": 3, "b": 6}, 
                    {"c": 1}])
df_a

     a    b    c
0  1.0  4.0  NaN
1  2.0  5.0  NaN
2  3.0  6.0  NaN
3  NaN  NaN  1.0

In [3]:
df_b = pd.DataFrame([{"c": 2, "d": 7}, {"c": 3, "d": 8}])
df_b

   c  d
0  2  7
1  3  8

In [17]:
# left join
frames_l = pd.merge(df_a, df_b, how='left')
frames_l

     a    b    c   d
0  1.0  4.0  NaN NaN
1  2.0  5.0  NaN NaN
2  3.0  6.0  NaN NaN
3  NaN  NaN  1.0 NaN

In [18]:
# right join
frames_r = pd.merge(df_a, df_b, how='right')
frames_r

    a   b  c  d
0 NaN NaN  2  7
1 NaN NaN  3  8

In [20]:
# inner join
frames_i = pd.merge(df_a, df_b, how='inner')
frames_i

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [26]:
# outer join
frames_o = pd.merge(df_a, df_b, how='outer')
frames_o

     a    b    c    d
0  1.0  4.0  NaN  NaN
1  2.0  5.0  NaN  NaN
2  3.0  6.0  NaN  NaN
3  NaN  NaN  1.0  NaN
4  NaN  NaN  2.0  7.0
5  NaN  NaN  3.0  8.0

### Bonus

In [29]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                  'key2': ['one', 'two', 'one'],
                  'lval': [1, 2, 3]})
left

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3

In [30]:
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                   'key2': ['one', 'one', 'one', 'two'],
                   'rval': [4, 5, 6, 7]})
right

  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

In [34]:
# left join
lefty = pd.merge(left, right, how='left')
lefty

  key1 key2  lval  rval
0  foo  one     1   4.0
1  foo  one     1   5.0
2  foo  two     2   NaN
3  bar  one     3   6.0

In [6]:
# right join

In [38]:
# inner join
# produces a set that only amtches in A & B
inner_j = pd.merge(left, right, how='inner', on='key1')
inner_j

  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    two     2    one     4
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7

In [41]:
# outer join
outer_j = pd.merge(left, right, how='left_outer')
outer_j

KeyError: 'left_outer'