In [1]:
# import xgboost
# from xgboost import XGBRegressor
from sklearn.grid_search import GridSearchCV
from numpy import loadtxt
# from xgboost import plot_importance

//anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
//anaconda/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [2]:
import pandas as pd
import random
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
filename = 'train.csv'
n = sum(1 for line in open(filename)) - 1 
s = 30000
skip = sorted(random.sample(xrange(1,n+1),n-s)) 
df = pd.read_csv(filename, skiprows=skip)

In [4]:
n

188318

In [6]:
df.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,20,A,B,A,B,A,A,A,A,B,...,0.867021,0.583389,0.90267,0.84847,0.80218,0.644013,0.785706,0.859764,0.242416,3585.75
1,47,A,A,A,A,B,A,A,A,A,...,0.894903,0.586433,0.80058,0.93383,0.78770,0.880469,0.871011,0.822493,0.251278,585.18
2,139,A,B,A,A,B,A,A,A,B,...,0.374051,0.833411,0.52450,0.37458,0.25604,0.727671,0.714544,0.233856,0.793199,3552.53
3,167,A,B,A,A,A,A,A,B,B,...,0.620260,0.450226,0.61229,0.64873,0.74396,0.569745,0.557380,0.689974,0.580748,786.26
4,186,A,B,A,A,B,A,A,A,A,...,0.334009,0.324696,0.31280,0.39648,0.38016,0.341813,0.352251,0.261150,0.676090,2906.27