In [16]:
all_words = []

In [17]:
import pandas as pd
shakespeare = pd.read_table('./assets/results/shakespeare_results.txt', sep=',', names=["word","count"])
shakespeare['auth'] = 'shakespeare'
shakespeare.head()

       word  count         auth
0         '    838  shakespeare
1     ''tis      3  shakespeare
2        'a    176  shakespeare
3       'a'      1  shakespeare
4  'a'mercy      1  shakespeare

In [18]:
poe = pd.read_table('./assets/results/edgarpoe_results.txt', sep=',', names=["word","count"])
poe['auth'] = 'poe'
poe.head()

  word  count auth
0  'as      1  poe
1    0      1  poe
2  000      1  poe
3    1     45  poe
4   10      1  poe

In [19]:
austen = pd.read_table('./assets/results/janeausten_results.txt', sep=',', names=["word","count"])
austen['auth'] = 'austen'
austen.head()

  word  count    auth
0  'as      1  austen
1    0      2  austen
2  000      1  austen
3    1     48  austen
4   10      3  austen

In [20]:
twain = pd.read_table('./assets/results/marktwain_results.txt', sep=',', names=["word","count"])
twain['auth'] = 'twain'
twain.head()

     word  count   auth
0       '   3014  twain
1      ''      4  twain
2  ''bout      1  twain
3  ''deed      1  twain
4   ''tis      1  twain

In [21]:
plato = pd.read_table('./assets/results/plato_results.txt', sep=',', names=["word","count"])
plato['auth'] = 'plato'
plato.head()

   word  count   auth
0   'as      1  plato
1     0      1  plato
2   000      1  plato
3     1     43  plato
4  1500      1  plato

In [22]:
combined = pd.concat([shakespeare,poe,austen,twain,plato])
combined.head()

       word  count         auth
0         '    838  shakespeare
1     ''tis      3  shakespeare
2        'a    176  shakespeare
3       'a'      1  shakespeare
4  'a'mercy      1  shakespeare

In [23]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
import numpy as np

le_auth = preprocessing.LabelEncoder()
le_auth.fit(['shakespeare', 'poe', 'austen', 'twain', 'plato'])
combined['auth'] = le_auth.transform(combined['auth'])

le_word = preprocessing.LabelEncoder()
#le_word.fit(combined['word'].unique())
#combined['word'] = le_word.transform(combined['word'])
combined.dropna(inplace = True)

combined.head()

all_words = list(combined['word'].unique())

In [24]:
mystery = pd.read_table('./assets/results/mystery_results.txt', sep=',', names=["word","count"])
#mystery['word'] = le_word.transform(mystery['word'])
for word in mystery['word']:
    if not word in all_words:
        all_words += [word]

mystery.head()

   word  count
0     0      2
1   000      1
2     1     46
3    10      1
4  1500      1

In [25]:
mystery2 = pd.read_table('./assets/results/mystery_results3.txt', sep=',', names=["word","count"])

for word in mystery2['word']:
    if not word in all_words:
        all_words += [word]
#mystery2 = mystery2.sort(['count'], ascending=[0])

#mystery2['word'] = le_word.transform(mystery2['word'])

In [26]:
le_word.fit(all_words)

combined['word'] = le_word.transform(combined['word'])
mystery['word'] = le_word.transform(mystery['word'])
mystery2['word'] = le_word.transform(mystery2['word'])

0          0
1          4
2         69
3         70
4         71
5         72
6         75
7         82
8         84
9         86
10        88
11        89
12        90
13        93
14        95
15        98
16        99
17       101
18       102
19       105
20       106
21       107
22       108
23       109
24       113
25       118
26       119
27       120
28       127
29       128
       ...
918    62596
919    62637
920    62642
921    62644
922    62662
923    62664
924    62665
925    62666
926    62670
927    62671
928    62879
929    62901
930    62902
931    62903
932    62907
933    62908
934    62909
935    62992
936    63118
937    63121
938    63160
939    63175
940    63311
941    63431
942    63446
943    63447
944    63463
945    63465
946    63558
947    63559
Name: word, dtype: int64

In [27]:
print combined.head()

   word  count  auth
0     0    838     3
1     4      3     3
2    69    176     3
3    70      1     3
4    71      1     3

In [162]:
neigh = KNeighborsClassifier(n_neighbors=5)
neigh.fit(combined[['word','count']], combined['auth'])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [164]:
print pd.Series(le_auth.inverse_transform(neigh.predict(mystery[['word','count']]))).value_counts()

twain          4474
shakespeare    1939
austen          409
plato            32
poe              16
dtype: int64

In [166]:
print pd.Series(le_auth.inverse_transform(neigh.predict(mystery2[['word','count']]))).value_counts()

austen         387
twain          271
shakespeare    200
plato           26
poe             11
dtype: int64

In [170]:
def returny(list):
    for x in list:
        yield x
        
y = returny([1,2,3,4,5])
print y.next()
print y.next()
print y.next()
print y.next()
print y.next()
print y.next()

1
2
3
4
5

StopIteration:

In [171]:
dicty = {
    'yo':3,
    'bro':4,
    'hey':5,
}

for x in dicty:
    print x, dicty[x]

bro 4
hey 5
yo 3

In [173]:
import requests

r = requests.get('http://us-west-2.elasticmapreduce.samples/cloudfront/code/Hive_CloudFront.q')
print r.text

ConnectionError: HTTPConnectionPool(host='us-west-2.elasticmapreduce.samples', port=80): Max retries exceeded with url: /cloudfront/code/Hive_CloudFront.q (Caused by NewConnectionError('<requests.packages.urllib3.connection.HTTPConnection object at 0x11727bc50>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known',))