In [29]:
n1 = [1, 2, 3, 4, 5]

In [17]:
n2= [1 for i in n1 if i >2]
n2

[36, 56, 68, 90, 79]

In [31]:
import numpy as np
n3 = [1 if x > np.mean(n1) else 0 for x in n1]
n3

[0, 0, 0, 1, 1]

In [39]:
n4 = [0,5,0,1,4,3,1,7,0]

In [52]:
flipped_world = [1 if x == 0 else 0 if x == 1 else 'false' for x in n4]
flipped_world

[1, 'false', 1, 0, 'false', 'false', 0, 'false', 1]

In [53]:
pos_neg_list = [1,-9,6,8,-7]

In [76]:
root_n_square = [[x**.5, x**2] for x in [y for y in pos_neg_list if y>=0]]
root_n_square

[[1.0, 1], [2.449489742783178, 36], [2.8284271247461903, 64]]

In [77]:
peeps = ['frank','john','lisa','michelle', 'victor']

In [78]:
cols = ['name','age','salary']

In [82]:
values = [['frank','rebecca','susan'],[45,67,12],[35000,40000,75000]]

In [85]:
my_dict = dict(zip(cols,values))
my_dict

{'age': [45, 67, 12],
 'name': ['frank', 'rebecca', 'susan'],
 'salary': [35000, 40000, 75000]}

In [89]:
import pandas as pd
pd.DataFrame(my_dict)

   age     name  salary
0   45    frank   35000
1   67  rebecca   40000
2   12    susan   75000