# Project 4: Web Scraping Indeed.com & Predicting Salaries

In Project 4, we practice two major skills: collecting data via  web scraping and building a binary predictor with Logistic Regression.

We will collect salary information on data science jobs in a variety of markets. Using location, title, and job summary, we'll predict the salary of the job. For job posting sites, this is extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), extrapolating expected salary can help guide negotiations.

Normally, we can use regression for this task; however, we will convert this problem into classification and use Logistic Regression.

- Q: Why would we want this to be a classification problem?
- A: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Section one focuses on scraping Indeed.com; then we use listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

Scrape job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries. First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract.

#### Setup a request (using `requests`) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)

The URL here has many query parameters

- `q` for the job search
- This is followed by "+20,000" to return results with salaries (or expected salaries >$20,000)
- `l` for a location 
- `start` for what result number to start on

In [1]:
URL = 'http://www.indeed.com/'

In [2]:
import requests
import bs4
from bs4 import BeautifulSoup

In [3]:
# read site in soup
r = requests.get(URL)
soup = BeautifulSoup(r.content, "lxml")

# Append to the full set of results
results = soup.findAll('div', { "class" : "result" })

Let's look at one result more closely. A single `result` looks like

```
<div class=" row result" data-jk="2480d203f7e97210" data-tn-component="organicJob" id="p_2480d203f7e97210" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_2480d203f7e97210">
<a class="turnstileLink" data-tn-element="jobTitle" onmousedown="return rclk(this,jobmap[0],1);" rel="nofollow" target="_blank" title="AVP/Quantitative Analyst">AVP/Quantitative Analyst</a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
<a href="/cmp/Alliancebernstein?from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=2480d203f7e97210&amp;jcid=b374f2a780e04789" target="_blank">
    AllianceBernstein</a></span>
</span>
<tr>
<td class="snip">
<nobr>$117,500 - $127,500 a year</nobr>
<div>
<span class="summary" itemprop="description">
C onduct quantitative and statistical research as well as portfolio management for various investment portfolios. Collaborate with Quantitative Analysts and</span>
</div>
</div>
</td>
</tr>
</table>
</div>
```

While this has some of the more verbose elements removed, we can see that there is some structure to the above:
- The salary is available in a `nobr` element inside of a `td` element with `class='snip`.
- The title of a job is in a link with class set to `jobtitle` and a `data-tn-element="jobTitle`.  
- The location is set in a `span` with `class='location'`. 
- The company is set in a `span` with `class='company'`.

### Write 4 functions to extract each item: location, company, job, and salary.

example: 
```python
def extract_location_from_result(result):
    return result.find ...
```

- Make sure these functions are robust and can handle cases where the data/field may not be available
- Test the functions on the results above

In [43]:
# get text
def extract_text(el):
    if el:
        return el.text.strip()
    else:
        return ''
        
# company
def get_company_from_result(result):
    return extract_text(result.find('span', {'class' : 'company'}))

# location
def get_location_from_result(result):
    return extract_text(result.find('span', {'class' : 'location'}))

# summary
def get_summary_from_result(result):
    return extract_text(result.find('span', {'class' : 'summary'}))
# title
def get_title_from_result(result):
    return extract_text(result.find('a', {'data-tn-element' : 'job Title'}))
# get salary if exists
def get_salary_from_result(result):
    salary_table = result.find('td', {'class' : 'snip'})
    if salary_table:
        snip = salary_table.find('nobr')
        if snip:
            return snip.text.strip()   
    return None

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.

- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results: the `l=New+York` and the `start=10`. The first controls the location of the results (so we can try different city). The second controls where in the results to start and gives 10 results (so we can keep incrementing this by 10 to move further within the list).

#### Complete the following code to collect results from multiple cities and start points. 
- Enter your city below to add it to the search
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

In [62]:
# specify city
YOUR_CITY = ['Atlanta, GA', 'Los+Angeles, CA', 'Seattle, WA', 
             'New+York, NY', 'San+Diego, CA', 'San+Francisco, CA', 'Denver CO']

In [63]:
# create template URL and max number of results (pages) to pull
url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"

# for loop to pull data with bs4
for city in set(YOUR_CITY):
    for start in range(10):
        r = requests.get(url_template.format(city, start))
        # Grab the results from the request (as above)
        soup = BeautifulSoup(r.content)
        # Append to the full set of results
        results += soup.findAll('div', { "class" : "result" })

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

In [64]:
# combine data into dictionaries
rows = []
for result in results:
    if result:
        row = {'company':get_company_from_result(result),
              'location':get_location_from_result(result),
              'summary':get_summary_from_result(result),
              'title':get_title_from_result(result),
               'salary':get_salary_from_result(result)
              }
        rows.append(row)

# create dataframe
import pandas as pd
df = pd.DataFrame(rows)
df.head()
df.shape

(9445, 5)

In [65]:
df.tail()
df['salary'].count()

489

In [69]:
df.drop_duplicates(inplace = True)
df.shape
df['salary'].count()

135

Lastly, we need to clean up salary data. 

1. Only a small number of the scraped results have salary information - only these will be used for modeling.
1. Some of the salaries are not yearly but hourly or weekly, these will not be useful to us for now
1. Some of the entries may be duplicated
1. The salaries are given as text and usually with ranges.

#### Find the entries with annual salary entries, by filtering the entries without salaries or salaries that are not yearly (filter those that refer to hour or week). Also, remove duplicate entries

In [81]:
# Filter to only the rows that have salary entries

# Remove duplicates

# Filter out salary entries referring to week, hour or month
data = df[~(df.salary.astype('str').str.contains('hour'))] # example
data = data[~(data.salary.astype('str').str.contains('week'))]
data = data[~(data.salary.astype('str').str.contains('month'))]


data.shape
data['salary'].count()
print data.head()
data['salary'].isnull()

                                    company           location salary  \
0                              Indeed Prime        Seattle, WA   None
1                            Liberty Mutual        Seattle, WA   None
2  Altius Institute for Biomedical Sciences  Seattle, WA 98121   None
3                   The Climate Corporation        Seattle, WA   None
4                                 Microsoft  Redmond, WA 98052   None

                                             summary title
0  Expert in Python and core libraries used by da...
1  Assistant Director, Data Science. We are searc...
2  Study design, hypothesis testing, data modelin...
3  Familiarity with spatial data. Develop cutting...
4  Our data is huge and one of our main challenge...

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
48       True
49       True
50       True
51       True
52       True
53       True
54       True
55       True
56       True
57       True
78       True
79       True
80       True
81       True
82       True
        ...
8266     True
8267     True
8268     True
8269     True
8270     True
8271     True
8272     True
8395     True
8396     True
8397     True
8398     True
8399    False
8400     True
8401     True
8402     True
8403     True
8404     True
8405     True
8406     True
8407    False
8408     True
8428     True
8429     True
8431     True
8433     True
8434     True
8435     True
8436     True
8437     True
9031     True
Name: salary, dtype: bool

In [91]:
new_data = data.dropna()

In [94]:
print new_data
new_data.shape()

                                                company  \
294                                LIBERTY MUTUAL GROUP
461                              Philanthropy Northwest
670                               Dynamic Staffing Inc.
774                                             Averity
775                             Oliver James Associates
776                                             Beeswax
785                      HOUSING PRESERVATION & DVLPMNT
789                                      Selby Jennings
816                                             Harnham
832                             Smith Hanley Associates
904                                             Averity
905                                            StreetID
920                                      Selby Jennings
922                                      Selby Jennings
924                                      Selby Jennings
925                                             Averity
926                         NYC Department of Buildings
955                      DEPT OF ENVIRONMENT PROTECTION
1023                                            Averity
1032                                  POLICE DEPARTMENT
1055                      DEPT OF HEALTH/MENTAL HYGIENE
1060                                            Averity
1070                                            Averity
1075                     DEPT OF ENVIRONMENT PROTECTION
1086                      DEPT OF HEALTH/MENTAL HYGIENE
1087                        HRA/DEPT OF SOCIAL SERVICES
1104                                            Averity
1119                                     Selby Jennings
1278                        The Hagan-Ricci Group, Inc.
1284                                            Harnham
...                                                 ...
4367                tronc (formerly Tribune Publishing)
4400   Los Angeles County Department of Human Resources
4549         Centers for Disease Control and Prevention
4553                                            Averity
4638                                            Averity
4647                                            Averity
4687                          Nathan S. Kline Institute
4715                                      NewAgeSys,Inc
4789  New York City Department of Health and Mental ...
5132                                     Selby Jennings
5178                             Scienaptic Systems Inc
5179                     DEPT OF ENVIRONMENT PROTECTION
5185                           Datacom Technology Group
5618                                Analytic Recruiting
5644                        Interesse International Inc
6016                                 Nisum Technologies
6121                Federal Emergency Management Agency
6181                     City & County of San Francisco
6197          San Francisco Department of Public Health
6204                                            Harnham
6426                                         TEKSystems
6467                           Elevate Recruiting Group
6512                                               Even
6525                              Workbridge Associates
6858                              IGE Therapeutics, Inc
7171                              Workbridge Associates
7709                                          Codesmith
7714                                    MetaSense, Inc.
8399                              Denver Public Schools
8407                                  10Roof Technology

                                               location  \
294                                         Seattle, WA
461                   Seattle, WA 98121 (Belltown area)
670                                         Seattle, WA
774                                        New York, NY
775                                        New York, NY
776                                        New York, NY
785                                        New York, NY
789                   New York, NY 10167 (Midtown area)
816                                        New York, NY
832                                        New York, NY
904                                        New York, NY
905                                        New York, NY
920                   New York, NY 10167 (Midtown area)
922                   New York, NY 10167 (Midtown area)
924                   New York, NY 10167 (Midtown area)
925                                        New York, NY
926                                       Manhattan, NY
955                                        New York, NY
1023                                       New York, NY
1032                                       New York, NY
1055                                       New York, NY
1060                                       New York, NY
1070                                       New York, NY
1075                                       New York, NY
1086                                      Manhattan, NY
1087                                      Manhattan, NY
1104                                       New York, NY
1119                  New York, NY 10167 (Midtown area)
1278                                       New York, NY
1284                                       New York, NY
...                                                 ...
4367                                    Los Angeles, CA
4400                                    Los Angeles, CA
4549                                       New York, NY
4553                                       New York, NY
4638                                       New York, NY
4647                                       New York, NY
4687                                     Orangeburg, NY
4715                                     Parsippany, NJ
4789                         Long Island City, NY 11101
5132                  New York, NY 10167 (Midtown area)
5178                                       New York, NY
5179                                       New York, NY
5185                  New York, NY 10022 (Midtown area)
5618                                        Atlanta, GA
5644                                        Atlanta, GA
6016                                  San Francisco, CA
6121                                        Oakland, CA
6181             San Francisco, CA 94124 (Bayview area)
6197                                  San Francisco, CA
6204                                  San Francisco, CA
6426  San Francisco, CA 94105 (Financial District area)
6467                                   Redwood City, CA
6512                                        Oakland, CA
6525                                  San Francisco, CA
6858                                      San Diego, CA
7171                                      San Diego, CA
7709                                    Los Angeles, CA
7714                                    Los Angeles, CA
8399        Denver, CO 80204 (Central West Denver area)
8407                                         Denver, CO

                          salary  \
294   $109,900 - $126,100 a year
461     $50,000 - $60,000 a year
670              $125,000 a year
774   $100,000 - $120,000 a year
775              $165,000 a year
776   $130,000 - $165,000 a year
785               $70,286 a year
789   $135,000 - $200,000 a year
816              $200,000 a year
832   $140,000 - $160,000 a year
904   $120,000 - $150,000 a year
905              $120,000 a year
920   $200,000 - $250,000 a year
922              $110,000 a year
924   $150,000 - $170,000 a year
925   $100,000 - $120,000 a year
926     $63,817 - $74,000 a year
955     $59,708 - $72,246 a year
1023    $70,000 - $90,000 a year
1032    $41,057 - $61,669 a year
1055    $70,286 - $88,213 a year
1060  $100,000 - $120,000 a year
1070  $180,000 - $220,000 a year
1075    $59,708 - $72,246 a year
1086    $70,286 - $88,213 a year
1087    $78,630 - $90,000 a year
1104  $120,000 - $160,000 a year
1119  $100,000 - $125,000 a year
1278  $200,000 - $300,000 a year
1284             $110,000 a year
...                          ...
4367    $60,000 - $70,000 a year
4400    $73,107 - $95,884 a year
4549   $88,305 - $146,570 a year
4553  $120,000 - $130,000 a year
4638  $130,000 - $170,000 a year
4647  $125,000 - $175,000 a year
4687              $25,000 a year
4715              $55,000 a year
4789   $76,340 - $100,322 a year
5132   $90,000 - $180,000 a year
5178             $100,000 a year
5179   $83,887 - $113,725 a year
5185             $200,000 a year
5618   $70,000 - $145,000 a year
5644    $60,000 - $70,000 a year
6016             $140,000 a year
6121   $84,302 - $109,592 a year
6181   $98,202 - $125,346 a year
6197   $98,202 - $125,346 a year
6204             $185,000 a year
6426  $110,000 - $130,000 a year
6467             $170,000 a year
6512              $34,142 a year
6525  $165,000 - $195,000 a year
6858              $53,000 a year
7171   $85,000 - $115,000 a year
7709             $103,000 a year
7714             $100,000 a year
8399    $63,339 - $76,007 a year
8407             $105,000 a year

                                                summary title
294   We are searching for a highly motivated data s...
461   Conduct research and provide data analysis in ...
670   Exposure to big data systems (Hadoop, HBASE, H...
774   This is an opportunity for an experienced Seni...
775   3+ years of exposure working with Predictive m...
776   A minimum of 5 years experience in Machine lea...
785   Reliability and validity, sampling, primary an...
789   Senior Data Scientist. Data Intelligence Softw...
816   Senior Data Scientist. However this opportunit...
832   Manage and grow a team of data scientists focu...
904   Strong background in big data technology. As a...
905   Professional or academic experience working wi...
920   Experience working with and managing large dat...
922   A Global tier one Investment bank is looking t...
924   Senior Data Scientist - Quantitative Solutions...
925   As a Senior Statistician, you will be proficie...
926   Conducting qualitative and quantitative data c...
955   Evaluates demographic data from available sour...
1023  As a Tableau Developer in our Data Science tea...
1032  This position will also be responsible for con...
1055  Monitor, maintain, troubleshoot, and improve d...
1060  This is an opportunity for an experienced Data...
1070  Looking for a strong Quantitative Analyst, Res...
1075  Knowledge and practical application of quantit...
1086  Assist Lead Scientist for Surveys with prepari...
1087  Semi parametric modeling, missing data imputat...
1104  Are you a experienced Data Scientist who wants...
1119  An industry-leading FinTech firm in California...
1278  New York City financial services firm is seeki...
1284  You will join the data engineering team and wo...
...                                                 ...   ...
4367  Partner with data scientists in the Technology...
4400  Research experience working with quantifying s...
4549  Analyze scientific investigation data. The Cen...
4553  As a Lead Data Scientist in our Operational An...
4638  We are hiring a Lead Data Scientist for our gr...
4647  Our data science needs are growing quickly, an...
4687  Additional experience in statistical analysis ...
4715  Working knowledge of both computer and/or data...
4789  -Experience with inferential statistical analy...
5132  A top global commodities company is seeking an...
5178  We are looking for an energetic and experience...
5179  Of forest inventory data collection and proces...
5185  Should have experience conducting empirical re...
5618  Data Scientist, Supply Chain sought by Fortune...
5644  Estimate numerical data; Must see through the ...
6016  Big Data Stack:. Hadoop data Ingestion, data q...
6121  In this position, you will serve as a Physical...
6181  Ability to organize and analyze scientific dat...
6197  Under administrative direction of the Director...
6204  You will lead a team of 4 data scientists incl...
6426  You'll be joining a team of stellar engineers,...
6467  Through the Our Clients pivotal world-view in ...
6512  Work side by side with data scientists and res...
6525  The role will be working on technology that pr...
6858  The candidates working in a Team culture, are ...
7171  Experience working with large amounts of data....
7709  We are now bringing this same groundbreaking a...
7714  In data science, machine vision or similar. Ex...
8399  Clean data for analysis. Develop data collecti...
8407  Data Scientist, and a UI Developer. Great atti...

[100 rows x 5 columns]

TypeError: 'tuple' object is not callable

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [76]:
import re
import numpy as np
def extract_salary_average(salary_string):
    regex = r'\$([0-9]+,[0-9]+)'
    matches = re.findall(regex, salary_string)
    return np.mean([float(salary.replace(',', '')) for salary in matches ])

In [99]:
# use '.map' to transform salary to new feature
new_data['salary'] = new_data['salary'].map(extract_salary_average)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [100]:
print new_data

                                                company  \
294                                LIBERTY MUTUAL GROUP
461                              Philanthropy Northwest
670                               Dynamic Staffing Inc.
774                                             Averity
775                             Oliver James Associates
776                                             Beeswax
785                      HOUSING PRESERVATION & DVLPMNT
789                                      Selby Jennings
816                                             Harnham
832                             Smith Hanley Associates
904                                             Averity
905                                            StreetID
920                                      Selby Jennings
922                                      Selby Jennings
924                                      Selby Jennings
925                                             Averity
926                         NYC Department of Buildings
955                      DEPT OF ENVIRONMENT PROTECTION
1023                                            Averity
1032                                  POLICE DEPARTMENT
1055                      DEPT OF HEALTH/MENTAL HYGIENE
1060                                            Averity
1070                                            Averity
1075                     DEPT OF ENVIRONMENT PROTECTION
1086                      DEPT OF HEALTH/MENTAL HYGIENE
1087                        HRA/DEPT OF SOCIAL SERVICES
1104                                            Averity
1119                                     Selby Jennings
1278                        The Hagan-Ricci Group, Inc.
1284                                            Harnham
...                                                 ...
4367                tronc (formerly Tribune Publishing)
4400   Los Angeles County Department of Human Resources
4549         Centers for Disease Control and Prevention
4553                                            Averity
4638                                            Averity
4647                                            Averity
4687                          Nathan S. Kline Institute
4715                                      NewAgeSys,Inc
4789  New York City Department of Health and Mental ...
5132                                     Selby Jennings
5178                             Scienaptic Systems Inc
5179                     DEPT OF ENVIRONMENT PROTECTION
5185                           Datacom Technology Group
5618                                Analytic Recruiting
5644                        Interesse International Inc
6016                                 Nisum Technologies
6121                Federal Emergency Management Agency
6181                     City & County of San Francisco
6197          San Francisco Department of Public Health
6204                                            Harnham
6426                                         TEKSystems
6467                           Elevate Recruiting Group
6512                                               Even
6525                              Workbridge Associates
6858                              IGE Therapeutics, Inc
7171                              Workbridge Associates
7709                                          Codesmith
7714                                    MetaSense, Inc.
8399                              Denver Public Schools
8407                                  10Roof Technology

                                               location    salary  \
294                                         Seattle, WA  118000.0
461                   Seattle, WA 98121 (Belltown area)   55000.0
670                                         Seattle, WA  125000.0
774                                        New York, NY  110000.0
775                                        New York, NY  165000.0
776                                        New York, NY  147500.0
785                                        New York, NY   70286.0
789                   New York, NY 10167 (Midtown area)  167500.0
816                                        New York, NY  200000.0
832                                        New York, NY  150000.0
904                                        New York, NY  135000.0
905                                        New York, NY  120000.0
920                   New York, NY 10167 (Midtown area)  225000.0
922                   New York, NY 10167 (Midtown area)  110000.0
924                   New York, NY 10167 (Midtown area)  160000.0
925                                        New York, NY  110000.0
926                                       Manhattan, NY   68908.5
955                                        New York, NY   65977.0
1023                                       New York, NY   80000.0
1032                                       New York, NY   51363.0
1055                                       New York, NY   79249.5
1060                                       New York, NY  110000.0
1070                                       New York, NY  200000.0
1075                                       New York, NY   65977.0
1086                                      Manhattan, NY   79249.5
1087                                      Manhattan, NY   84315.0
1104                                       New York, NY  140000.0
1119                  New York, NY 10167 (Midtown area)  112500.0
1278                                       New York, NY  250000.0
1284                                       New York, NY  110000.0
...                                                 ...       ...
4367                                    Los Angeles, CA   65000.0
4400                                    Los Angeles, CA   84495.5
4549                                       New York, NY  117437.5
4553                                       New York, NY  125000.0
4638                                       New York, NY  150000.0
4647                                       New York, NY  150000.0
4687                                     Orangeburg, NY   25000.0
4715                                     Parsippany, NJ   55000.0
4789                         Long Island City, NY 11101   88331.0
5132                  New York, NY 10167 (Midtown area)  135000.0
5178                                       New York, NY  100000.0
5179                                       New York, NY   98806.0
5185                  New York, NY 10022 (Midtown area)  200000.0
5618                                        Atlanta, GA  107500.0
5644                                        Atlanta, GA   65000.0
6016                                  San Francisco, CA  140000.0
6121                                        Oakland, CA   96947.0
6181             San Francisco, CA 94124 (Bayview area)  111774.0
6197                                  San Francisco, CA  111774.0
6204                                  San Francisco, CA  185000.0
6426  San Francisco, CA 94105 (Financial District area)  120000.0
6467                                   Redwood City, CA  170000.0
6512                                        Oakland, CA   34142.0
6525                                  San Francisco, CA  180000.0
6858                                      San Diego, CA   53000.0
7171                                      San Diego, CA  100000.0
7709                                    Los Angeles, CA  103000.0
7714                                    Los Angeles, CA  100000.0
8399        Denver, CO 80204 (Central West Denver area)   69673.0
8407                                         Denver, CO  105000.0

                                                summary title
294   We are searching for a highly motivated data s...
461   Conduct research and provide data analysis in ...
670   Exposure to big data systems (Hadoop, HBASE, H...
774   This is an opportunity for an experienced Seni...
775   3+ years of exposure working with Predictive m...
776   A minimum of 5 years experience in Machine lea...
785   Reliability and validity, sampling, primary an...
789   Senior Data Scientist. Data Intelligence Softw...
816   Senior Data Scientist. However this opportunit...
832   Manage and grow a team of data scientists focu...
904   Strong background in big data technology. As a...
905   Professional or academic experience working wi...
920   Experience working with and managing large dat...
922   A Global tier one Investment bank is looking t...
924   Senior Data Scientist - Quantitative Solutions...
925   As a Senior Statistician, you will be proficie...
926   Conducting qualitative and quantitative data c...
955   Evaluates demographic data from available sour...
1023  As a Tableau Developer in our Data Science tea...
1032  This position will also be responsible for con...
1055  Monitor, maintain, troubleshoot, and improve d...
1060  This is an opportunity for an experienced Data...
1070  Looking for a strong Quantitative Analyst, Res...
1075  Knowledge and practical application of quantit...
1086  Assist Lead Scientist for Surveys with prepari...
1087  Semi parametric modeling, missing data imputat...
1104  Are you a experienced Data Scientist who wants...
1119  An industry-leading FinTech firm in California...
1278  New York City financial services firm is seeki...
1284  You will join the data engineering team and wo...
...                                                 ...   ...
4367  Partner with data scientists in the Technology...
4400  Research experience working with quantifying s...
4549  Analyze scientific investigation data. The Cen...
4553  As a Lead Data Scientist in our Operational An...
4638  We are hiring a Lead Data Scientist for our gr...
4647  Our data science needs are growing quickly, an...
4687  Additional experience in statistical analysis ...
4715  Working knowledge of both computer and/or data...
4789  -Experience with inferential statistical analy...
5132  A top global commodities company is seeking an...
5178  We are looking for an energetic and experience...
5179  Of forest inventory data collection and proces...
5185  Should have experience conducting empirical re...
5618  Data Scientist, Supply Chain sought by Fortune...
5644  Estimate numerical data; Must see through the ...
6016  Big Data Stack:. Hadoop data Ingestion, data q...
6121  In this position, you will serve as a Physical...
6181  Ability to organize and analyze scientific dat...
6197  Under administrative direction of the Director...
6204  You will lead a team of 4 data scientists incl...
6426  You'll be joining a team of stellar engineers,...
6467  Through the Our Clients pivotal world-view in ...
6512  Work side by side with data scientists and res...
6525  The role will be working on technology that pr...
6858  The candidates working in a Team culture, are ...
7171  Experience working with large amounts of data....
7709  We are now bringing this same groundbreaking a...
7714  In data science, machine vision or similar. Ex...
8399  Clean data for analysis. Develop data collecti...
8407  Data Scientist, and a UI Developer. Great atti...

[100 rows x 5 columns]

In [104]:
# save scraped results as a CSV for Tableau/external viz
new_data.to_csv('DS_Salaries.csv', encoding = 'utf-8')

## Predicting salaries using Logistic Regression

In [ ]:
# load in the the data of scraped salaries

In [1]:
def city_extract(word):
    return word.split(',')[0].split('.')[0].strip()
def state_extract(word):
    return word.split(',')[1].split('.')[1].strip()

In [2]:
new_data_index['city'] = pd.DataFrame({'city':df['location'].apply(state_extract)})
new_data_index['state'] = pd.DataFrame({'state':df['location'].apply(state_extract)})

NameError: name 'pd' is not defined

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

In [ ]:
# calculate median and create feature with 1 as high salary

median_data = new_data_index['salary'].median()
median_data
new_data_index['High_Low'] = new_data_index['salary'].map(lambda x: 1 if x >= 103854.25 else 0)

### Q: What is the baseline accuracy for this model?

It is 50% if we guess randomly, half the salaries will be below the median and half will be above.

#### Create a Logistic Regression model to predict High/Low salary using statsmodel. Start by ONLY using the location as a feature. Display the coefficients and write a short summary of what they mean.

In [ ]:
# create statsmodel and summary
import statsmodels.formula.api as sm

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' or 'Manager' is in the title 
- Then build a new Logistic Regression model with these features. Do they add any value?

In [ ]:
# create senior, director, and manager dummies
salary_data['is_senior'] = salary_data['title'].str.contains('Senior','Sr').astype(int) # example
salary_data['is_Manager'] = salary_data['title'].str.contains('Manager').astype(int)
salary_data['director'] = salary_data['title'].str.contains('director').astype(int)
salary_data['junior'] = salary_data['title'].str.contains('junior').astype(int)

#### Rebuild this model with scikit-learn.
- You can either create the dummy features manually or use the `dmatrix` function from `patsy`
- Remember to scale the feature variables as well!

In [ ]:
# scale, (patsy optional), and fit
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from patsy import dmatrix

scaler = StandardScaler()
model = LogisticRegression(penalty = 'l2', C=0.1)

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy, AUC, precision and recall of the model. 
- Discuss the differences and explain when you want a high-recall or a high-precision model in this scenario.

In [ ]:
from sklearn.cross_validation import cross_val_score

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']: # example

### Compare L1 and L2 regularization for this logistic regression model. What effect does this have on the coefficients learned?

In [ ]:
model = LogisticRegression(penalty = 'l1', C=1.0)

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']:

In [ ]:
model.fit(X_scaled, y)

df = pd.DataFrame({'features' : X.design_info.column_names, 'coef': model.coef_[0,:]})
df.sort_values('coef', ascending=False, inplace=True)
df

#### Optional: Continue to incorporate other text features from the title or summary that you believe will predict the salary and examine their coefficients. Take ~100 scraped entries with salaries. Convert them to use with your model and predict the salary. Which entries have the highest predicted salaries?

# Bonus Section: Use Count Vectorizer from scikit-learn to create features from the text summaries. 
- Examine using count or binary features in the model
- Re-evaluate the logistic regression model using these. Does this improve the model performance? 
- What text features are most valuable?

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
X = vectorizer.fit_transform()

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']:
    scores = cross_val_score(model, X_scaled, y, cv=3, scoring=metric)
    print(metric, scores.mean(), scores.std())

In [ ]:
model.fit(X_scaled, y)

df = pd.DataFrame({'features' : vectorizer.get_feature_names(), 'coef': model.coef_[0,:]})
df.sort_values('coef', ascending=False, inplace=True)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
# retest L1 and L2 regularization
from sklearn.linear_model import LogisticRegressionCV

model = LogisticRegressionCV()

Score: | /24
------|-------
Identify: Problem Statement and Hypothesis | 
Acquire: Import Data using BeautifulSoup| 
Parse: Clean and Organize Data| 
Model: Perform Logistic Regression| 
Evaluate: Logistic Regression Results	|
Present: Blog Report with Findings and Recommendations		| 
Interactive Tableau visualizations | 
Regularization |
Bonus: Countvectorizer  |