# MongoDB 101

<img src="https://cdn.meme.am/images/11599433.jpg" alt="Title" style="width:350px"/>

## Welcome to MongoDB 101! Let's take a look at what we need to do today.
#### Step 1
* Log into https://mlab.com/ and create an account
* Create database within your account
* Create two users. One with read-only permissions. One without read-only permissions
* Follow the instructions below when you are ready

In [99]:
from pymongo import MongoClient

#This is the client. Replace my (username) and (password) with your non-readonly username and password
client = MongoClient("mongodb://admin:iamadmin@ds155718.mlab.com:55718/dsi_atl")
#We get the database here. Don't forget to change the db name to your database name!
db = client.dsi_atl

## Navigate to wikipedia and pull down a table of your choice. Here is a sample of what I did to pull down the Harrison Ford movies table to help you out.

In [100]:
import urllib2
from bs4 import BeautifulSoup
import json
import pandas as pd
from pandas import DataFrame 
soup = BeautifulSoup(urllib2.urlopen('https://en.wikipedia.org/wiki/List_of_state_name_etymologies_of_the_United_States').read())
tables = soup.find_all('table', class_="wikitable")
listy = []
for idx, table in enumerate(tables):
   if idx == 0:
       for idx2, row in enumerate(table.find_all('tr')):
           datay = row.find_all('td')
           if len(datay) > 3:
               listy += [{'0':datay[0].text,'1':datay[1].text,'2':datay[2].text,'3':datay[3].text,'4':datay[4].text}]                
stname_org = pd.DataFrame(listy)
stname_org.head(20)

,0,1,2,3,4
0,Alabama\n,April 19,1742,Choctaw,albah amo
1,Alaska\n,December 2,1897,Aleut via Russian,alaxsxaq via Аляска
2,Arizona\n,February 1,1883,Basque,aritz ona
3,Arkansas\n,July 20,1796,"Kansa, via Illinois and French",akaansa
4,California\n,May 22,1850,Spanish,Unknown
5,Colorado\n,,1743,Spanish,colorado
6,Connecticut\n,April 15,1675,Eastern Algonquian,quinnitukqut
7,Delaware\n,January 31,1680,French via English,de la Warr
8,Florida\n,April 2,1513,Spanish,(pascua) florida
9,Georgia\n,October 3,1674,Latin via English (ultimately from Greek),Georgius
10,Hawaii\n,December 29,1879,Hawaiian,Hawaiʻi
11,Idaho\n,June 6,1864,none,Idaho
12,Illinois\n,March 24,1793,Algonquian via French,ilenweewa
13,Indiana\n,December 2,1794,Latin (ultimately from Proto-Indo-Iranian),
14,Iowa\n,August 31,1818,Dakota via French,ayúxba/ayuxwe via Aiouez
15,Kansas\n,May 12,1832,Kansa via French,kką:ze via Cansez[40]
16,Kentucky\n,April 28,1728,Iroquoian,
17,Louisiana\n,July 18,1787,French (ultimately from Frankish),Louisiane
18,Maine\n,October 13,1729,English,main
19,Maryland\n,January 18,1691,English (ultimately from Hebrew),Myriam

## Now it's time to make our new mongodb document! Let's insert our wiki table's values into it.

In [123]:
#Creating a new table with the name table_name here
table_name = db.table_name

#This removes everything from the table. Works on the same principle as find
table_name.remove({})

#To insert, just pass in the values one at a time
for x in stname_org.iterrows():
    print x[1][3]
    db.table_name.insert_one({'state':x[1][0], 'dm':x[1][1],'year':x[1][2],
                           'origin':x[1][3], 'native':x[1][4]})
#table_name.insert_many(stname_org.to_dict('records'))

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.

Choctaw
Aleut via Russian
Basque
Kansa, via Illinois and French
Spanish
Spanish
Eastern Algonquian
French via English
Spanish
Latin via English (ultimately from Greek)
Hawaiian
none
Algonquian via French
Latin (ultimately from Proto-Indo-Iranian)
Dakota via French
Kansa via French
Iroquoian
French (ultimately from Frankish)
English
English (ultimately from Hebrew)
Algonquian
Ojibwe via French
Dakota
Ojibwe via French
Illinois
Spanish
Chiwere
Spanish
English
French (ultimately from Old Norse)
Nahuatl via Spanish
English
Latin via English (ultimately from Frankish)
Sioux
Seneca via French
Choctaw
Unknown Native American
Welsh and Latin
Dutch
Latin via English (ultimately from Frankish)
Sioux
Cherokee
Caddo via Spanish
Western Apache via Spanish
French
Latin
English
Latin
Miami via French
Munsee Delaware

## Awesome! Now find the read-only user in your mongolab account. You are going to be passing this to your partner in the class. Don't be shy. Everyone has to do it.

In [124]:
# Pass your string to another student. 
# Don't forget to change the username and password to your other user's username and password!
# Here is a reminder of what that string looks like
"mongodb://guest:guest@ds155718.mlab.com:55718/dsi_atl"

'mongodb://guest:guest@ds155718.mlab.com:55718/dsi_atl'

## Open the database you received from your partner. What is the data telling you? What kind of job roles would you imagine dealing with this data?

In [125]:
tbl = db.table_name
df = pd.DataFrame([x for x in tbl.find({})])
df

,_id,dm,native,origin,state,year
0,586eb27ff403cc34e8436197,December 2,alaxsxaq via Аляска,Aleut via Russian,Alaska\n,1897
1,586eb27ff403cc34e8436198,February 1,aritz ona,Basque,Arizona\n,1883
2,586eb27ff403cc34e8436199,July 20,akaansa,"Kansa, via Illinois and French",Arkansas\n,1796
3,586eb27ff403cc34e843619a,May 22,Unknown,Spanish,California\n,1850
4,586eb27ff403cc34e843619c,April 15,quinnitukqut,Eastern Algonquian,Connecticut\n,1675
5,586eb27ff403cc34e843619d,January 31,de la Warr,French via English,Delaware\n,1680
6,586eb27ff403cc34e843619e,April 2,(pascua) florida,Spanish,Florida\n,1513
7,586eb27ff403cc34e843619f,October 3,Georgius,Latin via English (ultimately from Greek),Georgia\n,1674
8,586eb27ff403cc34e84361a0,December 29,Hawaiʻi,Hawaiian,Hawaii\n,1879
9,586eb27ff403cc34e84361a2,March 24,ilenweewa,Algonquian via French,Illinois\n,1793
10,586eb27ff403cc34e84361a3,December 2,,Latin (ultimately from Proto-Indo-Iranian),Indiana\n,1794
11,586eb27ff403cc34e84361a4,August 31,ayúxba/ayuxwe via Aiouez,Dakota via French,Iowa\n,1818
12,586eb27ff403cc34e84361a5,May 12,kką:ze via Cansez[40],Kansa via French,Kansas\n,1832
13,586eb27ff403cc34e84361a7,July 18,Louisiane,French (ultimately from Frankish),Louisiana\n,1787
14,586eb27ff403cc34e84361a9,January 18,Myriam,English (ultimately from Hebrew),Maryland\n,1691
15,586eb27ff403cc34e84361aa,June 4,,Algonquian,Massachusetts\n,1665
16,586eb27ff403cc34e84361ab,October 28,mishigami,Ojibwe via French,Michigan\n,1811
17,586eb27ff403cc34e84361ac,April 21,mnisota,Dakota,Minnesota\n,1821
18,586eb280f403cc34e84361c3,March 21,,Latin,Virginia\n,1652
19,586eb27ff403cc34e8436196,April 19,albah amo,Choctaw,Alabama\n,1742
20,586eb27ff403cc34e843619b,,colorado,Spanish,Colorado\n,1743
21,586eb27ff403cc34e84361a1,June 6,Idaho,none,Idaho\n,1864
22,586eb27ff403cc34e84361a6,April 28,,Iroquoian,Kentucky\n,1728
23,586eb27ff403cc34e84361a8,October 13,main,English,Maine\n,1729
24,586eb27ff403cc34e84361ad,March 9,misi-ziibi,Ojibwe via French,Mississippi\n,1800
25,586eb27ff403cc34e84361ae,September 7,mihsoori,Illinois,Missouri\n,1805
26,586eb280f403cc34e84361af,November 1,montaña,Spanish,Montana\n,1860
27,586eb280f403cc34e84361b0,June 22,ñįbraske,Chiwere,Nebraska\n,1847
28,586eb280f403cc34e84361b1,February 9,nevado,Spanish,Nevada\n,1845
29,586eb280f403cc34e84361b2,August 27,,English,New Hampshire\n,1692
30,586eb280f403cc34e84361b3,April 2,,French (ultimately from Old Norse),New Jersey\n,1669
31,586eb280f403cc34e84361b4,November 1,Mēxihco via Nuevo México,Nahuatl via Spanish,New Mexico\n,1859
32,586eb280f403cc34e84361b5,October 15,,English,New York\n,1680
33,586eb280f403cc34e84361b6,June 30,Carolus via Carolana,Latin via English (ultimately from Frankish),North Carolina\n,1686
34,586eb280f403cc34e84361b7,November 2,dakhóta,Sioux,North Dakota\n,1867
35,586eb280f403cc34e84361b8,April 19,ohi:yo’ [81],Seneca via French,Ohio\n,1785
36,586eb280f403cc34e84361b9,September 5,okla + homa,Choctaw,Oklahoma\n,1842
37,586eb280f403cc34e84361ba,July 20,Disputed,Unknown Native American,Oregon\n,1860
38,586eb280f403cc34e84361bb,March 8,Penn + silvania,Welsh and Latin,Pennsylvania\n,1650
39,586eb280f403cc34e84361bc,February 3,roodt eylandt,Dutch,Rhode Island\n,1680
40,586eb280f403cc34e84361bd,November 12,Carolus via Carolana,Latin via English (ultimately from Frankish),South Carolina\n,1687
41,586eb280f403cc34e84361be,November 2,dakhóta,Sioux,South Dakota\n,1867
42,586eb280f403cc34e84361bf,May 24,ᏔᎾᏏ tanasi,Cherokee,Tennessee\n,1747
43,586eb280f403cc34e84361c0,June 30,táyshaʔ via Tejas,Caddo via Spanish,Texas\n,1827
44,586eb280f403cc34e84361c1,December 20,yúdah via yuta,Western Apache via Spanish,Utah\n,1877
45,586eb280f403cc34e84361c2,September 27,vert + mont,French,Vermont\n,1721
46,586eb280f403cc34e84361c4,February 22,,English,Washington\n,1872
47,586eb280f403cc34e84361c5,September 1,,Latin,West Virginia\n,1831
48,586eb280f403cc34e84361c6,February 5,Wishkonsing [104],Miami via French,Wisconsin\n,1822
49,586eb280f403cc34e84361c7,August 14,xwé:wamənk,Munsee Delaware,Wyoming\n,1877

## Was the data cleaned before you got it? Is information missing that might keep you from figuring out what the data represents?

In [134]:
df.drop('_id',axis=1, inplace=True)

## Do some exploratory data analysis on the table. Did you find anything surprising?

In [135]:
df.state.value_counts()

Louisiana\n         1
Maine\n             1
New Jersey\n        1
Washington\n        1
New York\n          1
Alaska\n            1
West Virginia\n     1
Texas\n             1
South Carolina\n    1
Wyoming\n           1
North Carolina\n    1
Florida\n           1
Montana\n           1
Iowa\n              1
Idaho\n             1
North Dakota\n      1
Arizona\n           1
Indiana\n           1
Hawaii\n            1
Rhode Island\n      1
Vermont\n           1
Minnesota\n         1
South Dakota\n      1
Delaware\n          1
Maryland\n          1
Oklahoma\n          1
Nevada\n            1
California\n        1
Utah\n              1
Massachusetts\n     1
Oregon\n            1
New Hampshire\n     1
Tennessee\n         1
Connecticut\n       1
Michigan\n          1
Kentucky\n          1
New Mexico\n        1
Missouri\n          1
Mississippi\n       1
Ohio\n              1
Arkansas\n          1
Illinois\n          1
Alabama\n           1
Nebraska\n          1
Virginia\n          1
Georgia\n           1
Pennsylvania\n      1
Kansas\n            1
Wisconsin\n         1
Colorado\n          1
Name: state, dtype: int64

In [130]:
import re

In [137]:
for r in tbl.find({'state': 'Alaska\n'}):
    print r

{u'origin': u'Aleut via Russian', u'dm': u'December 2', u'state': u'Alaska\n', u'year': u'1897', u'_id': ObjectId('586eb27ff403cc34e8436197'), u'native': u'alaxsxaq via \u0410\u043b\u044f\u0441\u043a\u0430'}

## Come up with three solvable questions to ask your partner regarding his data. Each should test your knowledge of regular expressions and mongodb. Feel free to look up new ways to do things. Put the questions and the answers to those questions here.

In [111]:
import re

In [ ]:
for x in df['year']

## Solve the questions your partner gave to you. This is for helping you to get more acquianted with these concepts, so try not to give away your answers.

## Try inserting a document into your partner's database. What happens? Why do you think that is?