# Lecture 42 Group by on Dataframes

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                   'k2':['alpha','beta','alpha','beta','alpha'],
                   'dataset1':np.random.randn(5),
                   'dataset2':np.random.randn(5)})

In [5]:
dframe

   dataset1  dataset2 k1     k2
0  0.072679 -0.749483  X  alpha
1 -0.003079  0.384098  X   beta
2  0.883058  0.582263  Y  alpha
3 -0.196760 -0.397797  Y   beta
4  0.100256 -0.888821  Z  alpha

In [6]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [8]:
group1.mean()

k1
X    0.034800
Y    0.343149
Z    0.100256
Name: dataset1, dtype: float64

In [9]:
cities = np.array(['NY','LA','LA','NY','NY'])

month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [11]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB   -0.003079
    JAN    0.883058
NY  FEB   -0.196760
    JAN    0.086468
Name: dataset1, dtype: float64

new